@import '~variables'


// pre
pre {
    margin: 0
}

// app container
.app-container {
    background-color: white
}

// app form
.app-form {
  padding-left: 4%
  padding-right: 4%
  padding-top: 20px
  padding-bottom: 40px
}
.app-form-button {
  margin-right: 4px
}
td.app-formula-text {
  font-family: Courier, Monaco, monospace
  color: black
  background-color: $grey-2
}
td.app-numeric-cell {
  font-family: Courier, Monaco, monospace
  color: black
  background-color: $grey-2
  text-align: right
}

// app table
.app-table-columns {
  padding:5px 5px 5px 25px
  margin-top: 2px
}


// icon w/dialogue
.app-icon-dialog {
    cursor: pointer
}

// quasar customisation
.q-if-readonly input {
  color: $grey-7
}

.q-table-container {
    background-color: white
}
