<template>
  <q-layout>

    <q-layout-header>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>
        <q-toolbar-title>
           <big>Arena Tactics</big>
          <span slot="subtitle"> - Game Master</span>
        </q-toolbar-title>
      </q-toolbar>

    </q-layout-header>

    <q-layout-drawer
      side="left"
      v-model="leftDrawerOpen"
    >
      <!-- app menu -->
      <app-menu />

    </q-layout-drawer>

    <!-- (Optional) The Footer -->
    <q-layout-footer>
      <q-toolbar>
        <q-toolbar-title></q-toolbar-title>
      </q-toolbar>
    </q-layout-footer>

    <q-page-container>
      <!-- This is where pages get injected -->
      <router-view/>
    </q-page-container>

  </q-layout>
</template>

<script>

// components
import AppMenu from 'components/AppMenu.vue'

export default {
  name: 'LayoutAdmin',
  components: {
    'app-menu': AppMenu
  },
  data () {
    return {
      leftDrawerOpen: true
    }
  },
  mounted () {
    this.drawer = true
  }
}
</script>

<style>
</style>
