<template>
  <q-layout>
    <q-page-container>
      <!-- This is where pages get injected -->
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'LayoutApp',
  data () {}
}
</script>

<style lang="stylus">
@import '~variables'
.app-admin-tabs a {
  background-color $grey-7
}
</style>
