<template>
  <q-layout> <!-- Be sure to play with the Layout demo on docs -->
    <q-page-container>
      <!-- This is where pages get injected -->
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'LayoutFight',
  data () {}
}
</script>

<style lang="stylus">
@import '~variables'
.app-admin-fight-tabs a {
  background-color $brown-6
}
</style>
