<template>
  <q-page class="q-pa-sm">
    <!-- content -->
    <div class="row">
      <div class="col">
        <!-- app header -->
        <app-manage v-bind:appId="this.$route.params.appId"></app-manage>
        <app-edit v-bind:appId="this.$route.params.appId"></app-edit>
      </div>
    </div>
  </q-page>
</template>

<script>
import AppManage from 'components/AppManage'
import AppEdit from 'components/AppEdit'

export default {
  name: 'PageApp',
  components: {
    'app-manage': AppManage,
    'app-edit': AppEdit
  },
  data () {
    return {
      appId: this.$route.params.appId
    }
  }
}
</script>

<style>
</style>
