<template>
  <q-page class="q-pa-sm">
    <!-- content -->
    <div class="row">
      <div class="col">
        <app-search/>
      </div>
    </div>
  </q-page>
</template>

<script>
import AppSearch from 'components/AppSearch'

export default {
  name: 'PageApps',
  components: {
    'app-search': AppSearch
  }
}
</script>

<style>
</style>
