<template>
  <q-page class="q-pa-sm">
    <!-- content -->
    <div class="row">
      <div class="col">
        <!-- app header -->
        <app-manage v-bind:appId="this.$route.params.appId"></app-manage>
        <app-effects-table v-bind:app-id="appId"/>
      </div>
    </div>
  </q-page>
</template>

<script>
import AppManage from 'components/AppManage'
import AppEffectsTable from 'components/AppEffectsTable'

export default {
  name: 'PageAppEffects',
  components: {
    'app-manage': AppManage,
    'app-effects-table': AppEffectsTable
  },
  data () {
    return {
      appId: this.$route.params.appId
    }
  }
}
</script>

<style>
</style>
