<template>
  <q-page class="q-pa-sm">
    <!-- content -->
    <div class="row">
      <div class="col">
        <apps-table/>
      </div>
    </div>
  </q-page>
</template>

<script>
import AppsTable from 'components/AppsTable'

export default {
  name: 'PageApps',
  components: {
    'apps-table': AppsTable
  }
}
</script>

<style>
</style>
