<template>
  <q-page class="q-pa-sm">

    <!-- content -->
    <div class="row">
      <div class="col">

        <!-- fight manage -->
        <app-fight-manage
          v-bind:appId="this.$route.params.appId"
          v-bind:fightId="this.$route.params.fightId"
        />

        <!-- fight instances -->
        <app-fight-instances-table
          v-bind:appId="this.$route.params.appId"
          v-bind:fightId="this.$route.params.fightId"
        />
      </div>
    </div>

  </q-page>
</template>

<script>
import AppFightManage from 'components/AppFightManage'
import AppFightInstancesTable from 'components/AppFightInstancesTable.vue'

export default {
  name: 'PageFightInstances',
  components: {
    'app-fight-manage': AppFightManage,
    'app-fight-instances-table': AppFightInstancesTable
  },
  data () {
    return {
      appId: this.$route.params.appId,
      fightId: this.$route.params.fightId
    }
  }
}
</script>

<style>
</style>
