<template>
  <q-page class="q-pa-sm">
    <!-- content -->
    <div class="row">
      <div class="col">
        <!-- app header -->
        <!-- <app-manage v-bind:appId="this.$route.params.appId"></app-manage> -->
        <app-fight-search v-bind:app-id="appId"/>
      </div>
    </div>
  </q-page>
</template>

<script>
// import AppManage from 'components/AppManage'
import AppFightSearch from 'components/AppFightSearch'

export default {
  name: 'PageFightSearch',
  components: {
    // 'app-manage': AppManage,
    'app-fight-search': AppFightSearch
  },
  data () {
    return {
      appId: this.$route.params.appId
    }
  }
}
</script>

<style>
</style>
