<template>
  <q-page class="q-pa-sm">

    <!-- content -->
    <div class="row">
      <div class="col">
        <app-fight-manage
          v-bind:appId="this.$route.params.appId"
          v-bind:fightId="this.$route.params.fightId"
        />
      </div>
    </div>

  </q-page>
</template>

<script>
import AppFightManage from 'components/AppFightManage'

export default {
  name: 'PageFight',
  components: {
    'app-fight-manage': AppFightManage
  },
  data () {
    return {
      appId: this.$route.params.appId,
      fightId: this.$route.params.fightId
    }
  }
}
</script>

<style>
</style>
