<template>
  <div>
    <q-table
      :data="tableData"
      :columns="tableColumns"
      :visible-columns="visibleColumns"
      row-key="id"
      :pagination.sync="tablePagination"
    >

      <!-- title / new -->
      <div slot="top" slot-scope="props" :props="props" class="full-width">
        <div class="row">
          <div class="col-9">
            <div class="q-title">
              Edit Attributes
              <!-- show validation errors dialog here -->
              <q-icon v-if="attributeErrors.length > 0" name="info" color="negative" class="app-icon-dialog" @click.native="showAttributeErrors"/>
            </div>
          </div>
          <div class="col-2">
            <q-table-columns
              color="secondary"
              class="round-borders shadow-1 app-table-columns"
              v-model="visibleColumns"
              :columns="tableColumns"
            />
          </div>
          <div class="col-1">
            <q-btn small color="positive" @click="newModalOpen()" class="float-right">
              <q-icon name="add"/>
            </q-btn>
          </div>
        </div>
      </div>

      <!-- edit / delete -->
      <q-td slot="body-cell-action" slot-scope="props" :props="props">
        <q-btn
          small
          color="positive"
          class="app-form-button"
          @click="editModalOpen(props.row)"
        >
          <q-icon name="edit"/>
        </q-btn>
        <q-btn
          small
          color="negative"
          @click="deleteRecord(props.row.id)"
        >
          <q-icon name="delete"/>
        </q-btn>
      </q-td>

    </q-table>

    <!-- edit modal -->
    <q-modal v-model="showEditModal" minimized content-css="width: 80%;">
      <q-modal-layout>
        <q-toolbar slot="header">
          <q-toolbar-title>{{editRecord && editRecord.id ? 'Edit App Attribute - ' + editRecord.id : 'New App Attribute'}}</q-toolbar-title>
          <q-btn color="secondary" @click="editModalClose">
            <q-icon name="close"/>
          </q-btn>
        </q-toolbar>

        <!-- app attribute edit form -->
        <app-attribute-edit v-bind:appId="appId" v-bind:editRecord="editRecord" v-bind:editAction="editAction"/>
      </q-modal-layout>
    </q-modal>
  </div>
</template>

<script>
import Vue from 'vue'
import { formatId } from '../util/formatting'

// components
import AppAttributeEdit from 'components/AppAttributeEdit.vue'

export default {
  name: 'ComponentAppAttributesTable',
  components: {
    'app-attribute-edit': AppAttributeEdit
  },
  props: {
    appId: String
  },
  data () {
    return {
      tablePagination: {
        rowsPerPage: 10
      },
      visibleColumns: [
        'name',
        'assignable'
      ],
      tableColumns: [
        {
          name: 'id',
          required: true,
          label: 'ID',
          align: 'left',
          field: 'id',
          sortable: true,
          style: 'width: 10%;',
          format: val => formatId(val)
        },
        {
          name: 'name',
          label: 'Name',
          align: 'left',
          field: 'name',
          sortable: true,
          style: 'width: 25%;'
        },
        {
          name: 'value_formula',
          label: 'Value Formula',
          align: 'left',
          field: 'value_formula',
          classes: 'app-formula-text',
          sortable: true
        },
        {
          name: 'min_value_formula',
          label: 'Min Value Formula',
          align: 'left',
          field: 'min_value_formula',
          classes: 'app-formula-text',
          sortable: true
        },
        {
          name: 'max_value_formula',
          label: 'Max Value Formula',
          align: 'left',
          field: 'max_value_formula',
          classes: 'app-formula-text',
          sortable: true
        },
        {
          name: 'assignable',
          label: 'Assignable',
          align: 'left',
          field: 'assignable',
          sortable: true
        },
        {
          name: 'action',
          required: true,
          label: ''
        }
      ],
      // modal
      showEditModal: false,
      showNewModal: false,
      editRecord: {},
      editAction: null,
      // attribute errors
      attributeErrors: []
    }
  },
  computed: {
    tableData () {
      return this.$store.getters['appAttribute/getRecords']({ app_id: this.appId })
    }
  },
  methods: {
    // success function
    successFunc (response) {
      Vue.$log.info('(component) Response', response)
      if (response.data) {
        // look for attribute validation errors in response data
        if (response.data.errors) {
          this.attributeErrors = response.data.errors
        } else {
          this.attributeErrors = []
        }
      }
    },
    // failure function
    failureFunc (response) {
      Vue.$log.warn('(compoennt) Response', response)
      if (response && response.data) {
        Vue.$log.warn('Get records - Errors', response.data.errors)
      }
    },
    showAttributeErrors () {
      // dialogue
      var dialogueMessage = ''
      this.attributeErrors.forEach(error => {
        this.$log.warn('Update/Create record - Error ', error.detail)
        dialogueMessage = dialogueMessage + error.detail
      })
      this.$q.dialog({
        title: 'Validation Errors',
        message: dialogueMessage
      })
    },
    deleteRecord (id) {
      this.$log.info('Delete record ID', id)

      var params = {
        app_id: this.appId
      }

      params['id'] = id

      this.$log.info('Delete record params ', params)

      var result = this.$store.dispatch('appAttribute/deleteRecord', {
        params: params,
        successFunc: this.successFunc,
        failureFunc: this.failureFunc
      })

      this.$log.info('Delete record result', result)
    },
    newModalOpen (ev) {
      this.$log.info('New modal open')
      this.editRecord = {}
      this.editAction = 'create'
      this.showEditModal = true
    },
    editModalOpen (row) {
      this.$log.info('Edit modal open')
      this.editRecord = Object.assign({}, row)
      this.editAction = 'update'

      for (var prop in this.editRecord) {
        this.$log.info('Edit model open prop - ' + prop)
      }

      this.showEditModal = true
    },
    editModalClose (ev) {
      this.$log.info('Edit modal close')
      this.editRecord = null
      this.editAction = null
      this.showEditModal = false

      // refresh table data
      this.refreshTableData()
    },
    refreshTableData () {
      var params = {
        app_id: this.appId
      }

      this.$store.dispatch('appAttribute/getRecords', {
        params: params,
        successFunc: this.successFunc,
        failureFunc: this.failureFunc
      })
    }
  },
  created () {
    this.$log.info('App table created')
  },
  mounted () {
    this.$log.info('App table mounted')
    // refresh table data
    this.refreshTableData()
  }
}
</script>

<style>
.apps-table-row {
  cursor: pointer
}
</style>
