<template>
  <div class="app-form">

    <!-- fields -->
    <template v-if="formAction === 'update'">
      <q-field label="ID" orientation="vertical">
        <q-input v-model="fieldId" readonly />
      </q-field>
      <br />
    </template>

    <q-field label="Name" orientation="vertical">
      <q-input v-model="fieldName"/>
    </q-field>
    <br />

    <q-field label="Value Formula" orientation="vertical">
      <q-input v-model="fieldValueFormula"/>
    </q-field>
    <br />

    <q-field label="Max Value Formula" orientation="vertical">
      <q-input v-model="fieldMaxValueFormula"/>
    </q-field>
    <br />

    <q-field label="Min Value Formula" orientation="vertical">
      <q-input v-model="fieldMinValueFormula"/>
    </q-field>
    <br />

    <q-field>
      <q-toggle v-model="fieldAssignable" label="Assignable"/>
    </q-field>
    <br />

    <!-- submit -->
    <div class="row justify-end">
      <div class="col-auto">
        <q-btn color="positive" class="app-form-button" @click="saveRecordChanges">
          <q-icon name="save"/>
        </q-btn>
        <q-btn color="secondary" class="app-form-button" @click="undoRecordChanges">
          <q-icon name="undo"/>
        </q-btn>
      </div>
    </div>

    <!-- message dialogue -->
    <q-dialog v-model="dialogueModel" stack-buttons @ok="onDialogueOk">
      <!-- This or use "title" prop on <q-dialog> -->
      <span slot="title">{{ dialogueTitle }}</span>
      <!-- This or use "message" prop on <q-dialog> -->
      <span slot="message" v-html="dialogueMessage"></span>

      <template slot="buttons" slot-scope="props">
        <template v-if="dialogueType === 'error'">
          <q-btn color="primary" label="Ok" @click="props.ok" />
        </template>
      </template>
    </q-dialog>
  </div>
</template>

<script>
const formActionCreate = 'create'
const formActionUpdate = 'update'

export default {
  name: 'ComponentAppAttributeEdit',
  props: {
    appId: null,
    editAction: null,
    editRecord: {
      type: Object
    }
  },
  data () {
    return {
      // fields
      fieldId: null,
      fieldName: null,
      fieldValueFormula: null,
      fieldMaxValueFormula: null,
      fieldMinValueFormula: null,
      fieldAssignable: null,
      // dialogue
      dialogueModel: false,
      dialogueType: '',
      dialogueTitle: '',
      dialogueMessage: '',
      // form action
      formAction: null
    }
  },
  watch: {
    editAction: {
      handler: function (newValue, oldValue) {
        this.$log.info('editAction - Changed')
        this.formAction = newValue
      },
      immediate: true
    },
    editRecord: {
      handler: function (newValue, oldValue) {
        // assign record to field values
        this.$log.info('editRecord - Changed')

        if (newValue) {
          this.fieldId = newValue.id
          this.fieldName = newValue.name
          this.fieldValueFormula = newValue.value_formula
          this.fieldMaxValueFormula = newValue.max_value_formula
          this.fieldMinValueFormula = newValue.min_value_formula
          this.fieldAssignable = newValue.assignable
        }
      },
      immediate: true
    }
  },
  computed: {
  },
  methods: {
    onDialogueOk: function (arg) {
      this.dialogueModel = false
    },
    saveRecordChanges: function () {
      // save changes
      this.$log.info('Save record changes')

      // success function
      var successFunc = response => {
        this.$log.info('Update/Create record - response ', response)
        if (response.data) {
          // update fields
          this.fieldId = response.data.data.id
          // change to form action update
          this.formAction = formActionUpdate

          if (response.data.errors) {
            // success with warnings
            this.dialogueType = 'error'
            this.dialogueTitle = 'Warning - Saved With Formula Errors'
            var dialogueMessage = ''
            response.data.errors.forEach(error => {
              this.$log.warn('Update/Create record - Error ', error.detail)
              dialogueMessage = dialogueMessage + error.detail + '<br>'
            })
            this.dialogueMessage = dialogueMessage
            this.dialogueModel = true
          } else {
            // success with no warnings
            this.dialogueType = 'success'
            this.dialogueTitle = 'Success'
            this.dialogueMessage = 'Record Saved'
            this.dialogueModel = true

            setTimeout(() => {
              this.dialogueModel = false
            }, 1000)
          }
        }
      }

      // failure function
      var failureFunc = response => {
        this.$log.info('Update/Create record - Error ', response)
        if (response.data) {
          var dialogueMessage = ''
          this.$log.warn('Update/Create record - Error ', response.data.errors)
          response.data.errors.forEach(error => {
            this.$log.warn('Update/Create record - Error ', error.detail)
            dialogueMessage = dialogueMessage + error.detail + '<br>'
          })
        }

        this.dialogueType = 'error'
        this.dialogueTitle = 'Error'
        this.dialogueMessage = dialogueMessage
        this.dialogueModel = true
      }

      // form action update / form action create
      if (this.formAction === formActionUpdate) {
        this.$log.info('Update record')
        this.$store.dispatch('appAttribute/updateRecord', {
          params: { app_id: this.appId, id: this.fieldId },
          data: {
            id: this.fieldId,
            app_id: this.editRecord.app_id,
            name: this.fieldName,
            value_formula: this.fieldValueFormula,
            max_value_formula: this.fieldMaxValueFormula,
            min_value_formula: this.fieldMinValueFormula,
            assignable: this.fieldAssignable
          },
          successFunc: successFunc,
          failureFunc: failureFunc
        })

        this.$log.info('Update record - done')
      } else if (this.formAction === formActionCreate) {
        this.$log.info('Create record')
        this.$store.dispatch('appAttribute/createRecord', {
          params: { app_id: this.appId },
          data: {
            name: this.fieldName,
            value_formula: this.fieldValueFormula,
            max_value_formula: this.fieldMaxValueFormula,
            min_value_formula: this.fieldMinValueFormula,
            assignable: typeof (this.fieldAssignable) === 'undefined' ? false : this.fieldAssignable,
            value: typeof (this.fieldValue) === 'undefined' ? 0 : parseInt(this.fieldValue)
          },
          successFunc: successFunc,
          failureFunc: failureFunc
        })
      } else {
        this.$log.error('Unsupported form action ', this.formAction)
      }

      this.$log.info('Save record changes - done')
    },
    undoRecordChanges: function () {
      // assign original record to field values
      this.$log.info('Undo record changes')

      this.fieldId = this.editRecord.id
      this.fieldName = this.editRecord.name
      this.fieldValueFormula = this.editRecord.value_formula
      this.fieldMaxValueFormula = this.editRecord.max_value_formula
      this.fieldMinValueFormula = this.editRecord.min_value_formula
      this.fieldAssignable = this.editRecord.assignable
    }
  }
}
</script>

<style>
</style>
