
<template>
  <div class="app-form">
    <!-- fields -->
    <q-field label="Name" orientation="vertical">
      <q-input v-model="fieldName" />
    </q-field>
    <br />
    <q-field label="Description" orientation="vertical">
      <q-input v-model="fieldDescription" />
    </q-field>
    <br />
    <q-field label="Initiative Formula" orientation="vertical">
      <q-input v-model="fieldInitiativeFormula" />
    </q-field>
    <q-field label="Death Formula" orientation="vertical">
      <q-input v-model="fieldDeathFormula" />
    </q-field>

    <!-- submit -->
    <div class="row justify-end">
      <div class="col-auto">
        <q-btn color="positive" class="app-form-button" @click="saveRecordChanges">
          <q-icon name="save"/>
        </q-btn>
        <q-btn color="light" class="app-form-button" @click="undoRecordChanges">
          <q-icon name="undo"/>
        </q-btn>
      </div>
    </div>

    <!-- message dialogue -->
    <q-dialog v-model="dialogueModel" stack-buttons @ok="onDialogueOk">
      <!-- This or use "title" prop on <q-dialog> -->
      <span slot="title">{{dialogueTitle}}</span>
      <!-- This or use "message" prop on <q-dialog> -->
      <span slot="message" v-html="dialogueMessage"></span>

      <template slot="buttons" slot-scope="props">
        <template v-if="dialogueType === 'error'">
          <q-btn color="primary" label="Ok" @click="props.ok"/>
        </template>
      </template>
    </q-dialog>

  </div>
</template>

<script>

export default {
  name: 'ComponentAppCreate',
  props: {
    // editState: null,
    editRecord: {
      type: Object
    }
  },
  data () {
    return {
      // fields
      fieldId: null,
      fieldName: null,
      fieldDescription: null,
      fieldInitiativeFormula: null,
      fieldDeathFormula: null,
      fieldStatus: null,
      dialogueModel: false,
      dialogueType: '',
      dialogueTitle: '',
      dialogueMessage: ''
    }
  },
  watch: {},
  computed: {},
  methods: {
    onDialogueOk: function (arg) {
      this.dialogueModel = false
    },
    saveRecordChanges: function () {
      // save changes
      this.$log.info('Save record changes')

      // success function
      var successFunc = response => {
        this.$log.info('Update/Create record - response ', response)
        if (response.data) {
          this.dialogueType = 'success'
          this.dialogueTitle = 'Success'
          this.dialogueMessage = 'Record Saved'
          this.dialogueModel = true
          setTimeout(() => {
            this.dialogueModel = false
            this.$emit('editStateChange', 'created')
          }, 1000)
        }
      }

      // failure function
      var failureFunc = response => {
        this.$log.info('Update/Create record - Error ', response)
        if (response.data) {
          var dialogueMessage = ''
          this.$log.warn('Update/Create record - Error ', response.data.errors)
          response.data.errors.forEach(error => {
            this.$log.warn('Update/Create record - Error ', error.detail)
            dialogueMessage = dialogueMessage + error.detail + '<br>'
          })
        }

        this.dialogueType = 'error'
        this.dialogueTitle = 'Error'
        this.dialogueMessage = dialogueMessage
        this.dialogueModel = true
      }

      this.$log.info('Create record')

      this.$store.dispatch('app/createRecord', {
        params: {},
        data: {
          name: this.fieldName,
          description: this.fieldDescription,
          initiative_formula: this.fieldInitiativeFormula,
          death_formula: this.fieldDeathFormula
        },
        successFunc: successFunc,
        failureFunc: failureFunc
      })

      this.$log.info('Save record changes - done')
    },
    undoRecordChanges: function () {
      // assign original record to field values
      this.$log.info('Undo record changes')

      this.fieldId = this.editRecord.id
      this.fieldName = this.editRecord.name
      this.fieldDescription = this.editRecord.description
      this.fieldInitiativeFormula = this.editRecord.initiative_formula
      this.fieldDeathFormula = this.editRecord.death_formula
      this.fieldStatus = this.editRecord.status
    }
  }
}
</script>

<style>
.app-edit-form {
  padding: 10%;
}
.form-button {
  margin: 5px;
}
</style>
