<template>
  <div style="width: 100%;">
    <q-table
      title="Entity Tactics"
      :data="tableData"
      :columns="tableColumns"
      row-key="id"
    >
      <!-- slot name syntax: body-cell-<column_name> -->
      <q-td slot="body-cell-action" slot-scope="props" :props="props">
        <q-btn
          v-if="props.row.__index !== 0"
          small
          color="positive"
          class="app-form-button"
          @click="moveRecordUp(props.row)"
        >
          <q-icon name="arrow_upward"/>
        </q-btn>
        <q-btn
          small
          color="negative"
          @click="deleteRecord(props.row.id)"
        >
          <q-icon name="delete"/>
        </q-btn>
      </q-td>

      <q-tr slot="bottom-row" slot-scope="props" :props="props">
        <q-td colspan="1"/>
        <q-td colspan="1">
          <q-field label="Target" orientation="vertical">
            <q-select
              v-model="fieldTarget"
              :options="targetOptions"
            />
          </q-field>
        </q-td>
        <q-td colspan="1">
          <q-field label="Attribute" orientation="vertical">
            <q-select
              v-model="fieldAttributeId"
              :options="fieldAttributeIdOptions"
            />
          </q-field>
        </q-td>
        <q-td colspan="1">
          <q-field label="Comparator" orientation="vertical">
            <q-select
              v-model="fieldComparator"
              :options="comparatorOptions"
            />
          </q-field>
        </q-td>
        <q-td colspan="1">
          <q-field label="Value (%)" orientation="vertical">
            <q-input
              :disabled="fieldComparator==='is-least'||fieldComparator==='is-greatest'"
              v-model="fieldValue"
            />
          </q-field>
        </q-td>
        <q-td colspan="1">
          <q-field label="Action" orientation="vertical">
            <q-select
              v-model="fieldAction"
              :options="actionOptions"
            />
          </q-field>
        </q-td>
        <q-td colspan="1">
          <q-field v-if="fieldAction=='use-skill'" label="Skill" orientation="vertical">
            <q-select
              v-model="fieldSkillId"
              :options="fieldSkillIdOptions"
            />
          </q-field>
          <q-field v-if="fieldAction=='use-item'" label="Item" orientation="vertical">
            <q-select
              v-model="fieldItemId"
              :options="fieldItemIdOptions"
            />
          </q-field>
        </q-td>
        <q-td colspan="1">
          <q-btn
            small
            color="positive"
            @click="addRecord"
          >
            <q-icon name="add"/>
          </q-btn>
        </q-td>
      </q-tr>

    </q-table>
  </div>
</template>

<script>
import Vue from 'vue'
import { formatId } from '../util/formatting'

// success function
var successFunc = response => {
  Vue.$log.info('Response', response)
  if (response.data) {
    //
  }
}

// failure function
var failureFunc = response => {
  Vue.$log.warn('Response', response)
  if (response && response.data) {
    Vue.$log.warn('Errors', response.data.errors)
  }
}

export default {
  name: 'ComponentAppEntitySkillsTable',
  components: {
  },
  props: {
    appId: String,
    entityId: String
  },
  data () {
    return {
      // fields
      fieldTarget: null,
      fieldAttributeId: null,
      fieldComparator: null,
      fieldValue: null,
      fieldAction: null,
      fieldSkillId: null,
      fieldItemId: null,
      // table columns
      tableColumns: [
        {
          name: 'id',
          required: true,
          label: 'ID',
          align: 'left',
          field: 'id',
          sortable: true,
          format: val => formatId(val)
        },
        {
          name: 'target',
          required: true,
          label: 'Target',
          align: 'left',
          field: 'target',
          sortable: true,
          format: val => {
            for (var idx = 0; idx < this.targetOptions.length; idx++) {
              if (this.targetOptions[idx].value === val) {
                return this.targetOptions[idx].label
              }
            }
            return val
          }
        },
        {
          name: 'attribute_id',
          required: true,
          label: 'Attribute',
          align: 'left',
          field: 'app_attribute_id',
          sortable: true,
          format: val => {
            var attributeData = this.attributeData
            if (!attributeData.length) {
              this.$log.debug('Attribute data not available')
              return val
            }
            this.$log.info('Formatting attributeId', val)
            for (var idx = 0; idx < attributeData.length; idx++) {
              if (attributeData[idx].id === val) {
                return attributeData[idx].name
              }
            }
            this.$log.info('Could not find attributeId >' + val + '< in attributes', attributeData)
            return val
          }
        },
        {
          name: 'comparator',
          required: true,
          label: 'Comparator',
          align: 'left',
          field: 'comparator',
          sortable: true,
          format: val => {
            for (var idx = 0; idx < this.comparatorOptions.length; idx++) {
              if (this.comparatorOptions[idx].value === val) {
                return this.comparatorOptions[idx].label
              }
            }
            return val
          }
        },
        {
          name: 'value',
          required: true,
          label: 'Value (%)',
          align: 'left',
          field: 'value',
          style: 'width: 10%',
          sortable: true,
          classes: 'app-numeric-cell'
        },
        {
          name: 'tactic_action',
          required: true,
          label: 'Action',
          align: 'left',
          field: 'action',
          sortable: true,
          format: val => {
            for (var idx = 0; idx < this.actionOptions.length; idx++) {
              if (this.actionOptions[idx].value === val) {
                return this.actionOptions[idx].label
              }
            }
            return val
          }
        },
        {
          name: 'item_skill',
          required: true,
          label: 'Item/Skill',
          align: 'left',
          field: 'item_skill_id',
          sortable: true,
          format: val => {
            var idx = 0
            for (idx = 0; idx < this.skillData.length; idx++) {
              if (this.skillData[idx].id === val) {
                return this.skillData[idx].name
              }
            }
            for (idx = 0; idx < this.itemData.length; idx++) {
              if (this.itemData[idx].id === val) {
                return this.itemData[idx].name
              }
            }
            return val
          }
        },
        {
          name: 'action',
          label: ''
        }
      ],
      // options
      targetOptions: [
        {
          label: 'Self',
          value: 'self'
        },
        {
          label: 'Any Friend',
          value: 'any-friend'
        },
        {
          label: 'Current Friend',
          value: 'current-friend'
        },
        {
          label: 'Any Foe',
          value: 'any-foe'
        },
        {
          label: 'Current Foe',
          value: 'current-foe'
        }
      ],
      comparatorOptions: [
        {
          label: 'Is Less Than',
          value: 'is-less-than'
        },
        {
          label: 'Is Greater Than',
          value: 'is-greater-than'
        },
        {
          label: 'Is Least',
          value: 'is-least'
        },
        {
          label: 'Is Greatest',
          value: 'is-greatest'
        }
      ],
      actionOptions: [
        {
          label: 'Use Item',
          value: 'use-item'
        },
        {
          label: 'Use Skill',
          value: 'use-skill'
        }
      ],
      // modal
      showEditModal: false,
      showNewModal: false,
      editRecord: {},
      editAction: null
    }
  },
  computed: {
    tableData () {
      var data = this.$store.getters['appEntityTactic/getRecords']({
        app_id: this.appId,
        app_entity_id: this.entityId
      })
      // populate item/skill id property
      for (var idx = 0; idx < data.length; idx++) {
        if (data[idx].app_skill_id !== '') {
          data[idx].item_skill_id = data[idx].app_skill_id
        } else if (data[idx].app_item_id !== '') {
          data[idx].item_skill_id = data[idx].app_item_id
        }
      }
      this.$log.warn('Have tactic table data', data)
      return data
    },
    skillData () {
      var skillData = this.$store.getters['appSkill/getRecords']({
        app_id: this.appId
      })
      this.$log.warn('Have app skill data', skillData)
      return skillData
    },
    itemData () {
      var itemData = this.$store.getters['appItem/getRecords']({
        app_id: this.appId
      })
      this.$log.warn('Have app item data', itemData)
      return itemData
    },
    entitySkillData () {
      var entitySkillData = this.$store.getters['appEntitySkill/getRecords']({
        app_id: this.appId,
        app_entity_id: this.entityId
      })
      this.$log.warn('Have skill data', entitySkillData)
      return entitySkillData
    },
    entityItemData () {
      var entityItemData = this.$store.getters['appEntityItem/getRecords']({
        app_id: this.appId,
        app_entity_id: this.entityId
      })
      this.$log.warn('Have item data', entityItemData)
      return entityItemData
    },
    entityData () {
      return this.$store.getters['appEntity/getRecord']({
        app_id: this.appId,
        id: this.entityId
      })
    },
    attributeData () {
      return this.$store.getters['appAttribute/getRecords']({
        app_id: this.appId
      })
    },
    fieldAttributeIdOptions () {
      //
      var attributeData = this.attributeData

      var values = []
      for (var idx = 0; idx < attributeData.length; idx++) {
        values.push({
          label: String(attributeData[idx].name),
          value: attributeData[idx].id
        })
      }
      return values
    },
    fieldSkillIdOptions () {
      //
      var entitySkillData = this.entitySkillData, skillData = this.skillData

      var values = []
      for (var idx = 0; idx < entitySkillData.length; idx++) {
        for (var idx2 = 0; idx2 < skillData.length; idx2++) {
          if (entitySkillData[idx].app_skill_id === skillData[idx2].id && skillData[idx2].skill_type === 'active') {
            values.push({
              label: String(skillData[idx2].name),
              value: skillData[idx2].id
            })
            break
          }
        }
      }
      return values
    },
    fieldItemIdOptions () {
      //
      var entityItemData = this.entityItemData, itemData = this.itemData

      var values = []
      for (var idx = 0; idx < entityItemData.length; idx++) {
        for (var idx2 = 0; idx2 < itemData.length; idx2++) {
          if (entityItemData[idx].app_item_id === itemData[idx2].id && itemData[idx2].item_type === 'weapon') {
            values.push({
              label: String(itemData[idx2].name),
              value: itemData[idx2].id
            })
            break
          }
        }
      }
      return values
    }
  },
  watch: {
    appId: {
      handler: function (newValue, oldValue) {
        this.$log.warn('appId - changed', newValue)
        this.refreshData()
      },
      immediate: true
    },
    entityId: {
      handler: function (newValue, oldValue) {
        this.$log.warn('entityId - changed', newValue)
        this.refreshData()
      },
      immediate: true
    }
  },
  methods: {
    // success function
    addSuccessFunc: function (response) {
      this.$log.info('Response', response)
      if (response.data) {
        //
        this.fieldTarget = null
        this.fieldAttributeId = null
        this.fieldComparator = null
        this.fieldValue = null
        this.fieldAction = null
        this.fieldSkillId = null
        this.fieldItemId = null
      }
      this.$emit('update', 'tactics')
    },
    // success function
    moveSuccessFunc: function (response) {
      this.$log.info('Response', response)
      this.refreshData()
      this.$emit('update', 'tactics')
    },
    // failure function
    failureFunc: function (response) {
      this.$log.warn('Response', response)
      if (response && response.data) {
        Vue.$log.warn('Errors', response.data.errors)
      }
    },
    moveRecordUp (row) {
      var moveRecord = Object.assign({}, row)

      this.$log.info('Move record current order - ' + moveRecord.order)

      var order = parseInt(moveRecord.order)
      if (order === 1) {
        this.$log.warn('Current order id 1, cannot move up - ', order)
        return
      }

      order--

      this.$log.info('Changing order to - ', order)

      var params = {
        app_id: this.appId,
        app_entity_id: this.entityId,
        id: moveRecord.id
      }

      this.$log.info('Add record params ', params)

      var result = this.$store.dispatch('appEntityTactic/updateRecord', {
        params: params,
        data: {
          app_attribute_id: moveRecord.app_attribute_id,
          target: moveRecord.target,
          comparator: moveRecord.comparator,
          value: parseInt(moveRecord.value),
          action: moveRecord.action,
          app_skill_id: moveRecord.app_skill_id,
          app_item_id: moveRecord.app_item_id,
          order: order
        },
        successFunc: this.moveSuccessFunc,
        failureFunc: this.failureFunc
      })

      this.$log.info('Move record result ' + result)
    },
    addRecord (ev) {
      this.$log.info('Add record entityId ' + this.entityId)
      this.$log.info('Add record skillId ' + this.fieldSkillId)

      var params = {
        app_id: this.appId,
        app_entity_id: this.entityId
      }

      this.$log.info('Add record params ', params)

      var result = this.$store.dispatch('appEntityTactic/createRecord', {
        params: params,
        data: {
          app_attribute_id: this.fieldAttributeId,
          target: this.fieldTarget,
          comparator: this.fieldComparator,
          value: parseInt(this.fieldValue),
          action: this.fieldAction,
          app_skill_id: this.fieldSkillId,
          app_item_id: this.fieldItemId,
          order: 40
        },
        successFunc: this.addSuccessFunc,
        failureFunc: this.failureFunc
      })

      this.$log.info('Add record result ' + result)
    },
    deleteRecord (entityTacticId) {
      this.$log.info('Delete record event ' + entityTacticId)

      var params = {
        app_id: this.appId,
        app_entity_id: this.entityId,
        id: entityTacticId
      }

      this.$log.info('Delete record params ', params)

      var result = this.$store.dispatch('appEntityTactic/deleteRecord', {
        params: params,
        successFunc: this.addSuccessFunc,
        failureFunc: this.addFailureFunc
      })

      this.$log.info('Delete record result ' + result)
    },
    refreshData () {
      //
      if (typeof this.appId === 'undefined') {
        this.$log.warn('appId undefined, not getting records')
        return
      }
      if (typeof this.entityId === 'undefined') {
        this.$log.warn('entityId undefined, not getting records')
        return
      }

      // app items / skills
      var params = {
        app_id: this.appId
      }

      this.$store.dispatch('appItem/getRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })

      this.$store.dispatch('appSkill/getRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })

      // entity tactics / items / skills
      params = {
        app_id: this.appId,
        app_entity_id: this.entityId
      }

      // clear stores
      this.$store.dispatch('appEntityTactic/clearRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })

      this.$store.dispatch('appEntityTactic/getRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })

      this.$store.dispatch('appEntitySkill/getRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })

      this.$store.dispatch('appEntityItem/getRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })

      // entity
      params = {
        app_id: this.appId,
        id: this.entityId
      }

      this.$store.dispatch('appEntity/getRecord', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })
    }
  },
  created () {
    this.$log.info('Entity tactics table created')
  },
  mounted () {
    this.$log.info('Entity tactics table mounted')
    this.refreshData()
  }
}
</script>

<style>
</style>
