<template>
  <div class="app-form">

    <!-- fields -->
    <template v-if="formAction === 'update'">
      <q-field label="ID" orientation="vertical">
        <q-input v-model="fieldId" readonly />
      </q-field>
      <br />
    </template>

    <template v-if="formAction == 'create'">
      <div class="q-pb-md">
        Create a new entity and then add items, skills and tactics.
      </div>
    </template>

    <q-field label="Name" orientation="vertical">
      <q-input v-model="fieldName"/>
    </q-field>
    <br />

    <!-- submit -->
    <div class="row justify-end">
      <div class="col-auto">
        <q-btn color="positive" class="app-form-button" @click="saveRecordChanges">
          <q-icon name="save"/>
        </q-btn>
        <q-btn color="light" class="app-form-button" @click="undoRecordChanges">
          <q-icon name="undo"/>
        </q-btn>
      </div>
    </div>

    <br/>
    <div class="row">
      <app-entity-attributes-table v-if="fieldId" v-bind:appId="appId" v-bind:entityId="fieldId"/>
    </div>

    <br/>
    <div class="row">
      <app-entity-items-table
        v-if="fieldId"
        v-bind:appId="appId"
        v-bind:entityId="fieldId"
        v-on:update="handleUpdateEvent"
      />
    </div>

    <br/>
    <div class="row">
      <app-entity-skills-table
        v-if="fieldId"
        v-bind:appId="appId"
        v-bind:entityId="fieldId"
        v-on:update="handleUpdateEvent"
      />
    </div>

    <br/>
    <div class="row">
      <app-entity-tactics-table
        v-if="fieldId"
        v-bind:appId="appId"
        v-bind:entityId="fieldId"
        v-on:update="handleUpdateEvent"
      />
    </div>

    <!-- message dialogue -->
    <q-dialog v-model="dialogueModel" stack-buttons @ok="onDialogueOk">
      <!-- This or use "title" prop on <q-dialog> -->
      <span slot="title">{{ dialogueTitle }}</span>
      <!-- This or use "message" prop on <q-dialog> -->
      <span slot="message" v-html="dialogueMessage"></span>

      <template slot="buttons" slot-scope="props">
        <template v-if="dialogueType === 'error'">
          <q-btn small color="primary" @click="props.ok">
            <q-icon name="tick"/>
          </q-btn>
        </template>
      </template>
    </q-dialog>

  </div>
</template>

<script>
// components
import AppEntityAttributesTable from 'components/AppEntityAttributesTable.vue'
import AppEntityItemsTable from 'components/AppEntityItemsTable.vue'
import AppEntitySkillsTable from 'components/AppEntitySkillsTable.vue'
import AppEntityTacticsTable from 'components/AppEntityTacticsTable.vue'

const formActionCreate = 'create'
const formActionUpdate = 'update'

export default {
  name: 'ComponentAppEntityEdit',
  components: {
    'app-entity-attributes-table': AppEntityAttributesTable,
    'app-entity-items-table': AppEntityItemsTable,
    'app-entity-skills-table': AppEntitySkillsTable,
    'app-entity-tactics-table': AppEntityTacticsTable
  },
  props: {
    appId: null,
    editAction: null,
    editRecord: {
      type: Object
    }
  },
  data () {
    return {
      // fields
      fieldId: null,
      fieldName: null,
      // options
      fieldEntityTypeOptions: [
        {
          label: 'active',
          value: 'active'
        },
        {
          label: 'passive',
          value: 'passive'
        }
      ],
      // dialogue
      dialogueModel: false,
      dialogueType: '',
      dialogueTitle: '',
      dialogueMessage: '',
      // form action
      formAction: null
    }
  },
  watch: {
    editAction: {
      handler: function (newValue, oldValue) {
        this.$log.info('editAction - Changed')
        this.formAction = newValue
      },
      immediate: true
    },
    editRecord: {
      handler: function (newValue, oldValue) {
        // assign record to field values
        this.$log.info('editRecord - Changed')

        if (newValue) {
          this.fieldId = newValue.id
          this.fieldName = newValue.name
        }
      },
      immediate: true
    }
  },
  computed: {

  },
  methods: {
    onDialogueOk: function (arg) {
      this.dialogueModel = false
    },
    handleUpdateEvent: function (child) {
      // handle update event
      this.$log.warn('Update event - Refresh data', child)

      // refresh store attribute data for this entity
      var params = {
        app_id: this.appId,
        entity_id: this.fieldId
      }

      this.$store.dispatch('appEntityAttribute/getRecords', {
        params: params,
        successFunc: function () {},
        failureFunc: function () {}
      })
    },
    saveRecordChanges: function () {
      // save changes
      this.$log.info('Save record changes')

      // success function
      var successFunc = response => {
        this.$log.info('Update/Create record - response ', response)
        if (response.data) {
          // update fields
          this.fieldId = response.data.data.id
          // change to form action update
          this.formAction = formActionUpdate

          this.dialogueType = 'success'
          this.dialogueTitle = 'Success'
          this.dialogueMessage = 'Record Saved'
          this.dialogueModel = true
          setTimeout(() => {
            this.dialogueModel = false
          }, 1000)
        }
      }

      // failure function
      var failureFunc = response => {
        this.$log.info('Update/Create record - Error ', response)
        if (response.data) {
          var dialogueMessage = ''
          this.$log.warn('Update/Create record - Error ', response.data.errors)
          response.data.errors.forEach(error => {
            this.$log.warn('Update/Create record - Error ', error.detail)
            dialogueMessage = dialogueMessage + error.detail + '<br>'
          })
        }

        this.dialogueType = 'error'
        this.dialogueTitle = 'Error'
        this.dialogueMessage = dialogueMessage
        this.dialogueModel = true
      }

      // form action update / form action create
      if (this.formAction === formActionUpdate) {
        this.$log.info('Update record')
        this.$store.dispatch('appEntity/updateRecord', {
          params: { app_id: this.appId, id: this.fieldId },
          data: {
            id: this.fieldId,
            app_id: this.editRecord.app_id,
            name: this.fieldName
          },
          successFunc: successFunc,
          failureFunc: failureFunc
        })

        this.$log.info('Update record - done')
      } else if (this.formAction === formActionCreate) {
        this.$log.info('Create record')
        this.$store.dispatch('appEntity/createRecord', {
          params: { app_id: this.appId },
          data: {
            name: this.fieldName
          },
          successFunc: successFunc,
          failureFunc: failureFunc
        })
      } else {
        this.$log.error('Unsupported form action ', this.formAction)
      }

      this.$log.info('Save record changes - done')
    },
    undoRecordChanges: function () {
      // assign original record to field values
      this.$log.info('Undo record changes')

      this.fieldId = this.editRecord.id
      this.fieldName = this.editRecord.name
    }
  }
}
</script>

<style>
</style>
