<template>
  <div style="width: 100%;">
    <q-table
      title="Entity Attributes"
      :data="tableData"
      :columns="tableColumns"
      row-key="id"
      :pagination.sync="tablePagination"
    >
      <!-- slot name syntax: body-cell-<column_name> -->
      <q-td slot="body-cell-value" slot-scope="props" :props="props">
        <q-slider
          v-if="props.row.assignable"
          v-model="props.row.value"
          :min="1"
          :max="50"
          :step="1"
          label-always
          snap
        />
        <div v-if="!props.row.assignable" class="text-grey-7">* non assignable</div>
      </q-td>

      <!-- slot name syntax: body-cell-<column_name> -->
      <q-td slot="body-cell-adjusted_value" slot-scope="props" :props="props" class="app-numeric-cell">
        <div :class="getAdjustedValueClasses(props.row)">
          {{props.row.adjusted_value}}
        </div>
      </q-td>

      <!-- slot name syntax: body-cell-<column_name> -->
      <q-td slot="body-cell-action" slot-scope="props" :props="props">
          <q-btn
            v-if="props.row.assignable"
            small
            color="positive"
            class="app-form-button"
            :disable="saveDisabled(props.row)"
            @click="saveRow(props.row)"
          >
            <q-icon name="edit" />
          </q-btn>
          <q-btn
            v-if="props.row.assignable"
            small
            color="secondary"
            :disable="undoDisabled(props.row)"
            @click="undoChanges(props.row)"
          >
            <q-icon name="undo" />
          </q-btn>
      </q-td>

    </q-table>

    <!-- message dialogue -->
    <q-dialog v-model="dialogueModel" stack-buttons @ok="onDialogueOk">
      <!-- This or use "title" prop on <q-dialog> -->
      <span slot="title">{{ dialogueTitle }}</span>
      <!-- This or use "message" prop on <q-dialog> -->
      <span slot="message" v-html="dialogueMessage"></span>

      <template slot="buttons" slot-scope="props">
        <template v-if="dialogueType === 'error'">
          <q-btn color="primary" label="Ok" @click="props.ok" />
        </template>
      </template>
    </q-dialog>

  </div>
</template>

<script>
import Vue from 'vue'
import { formatId } from '../util/formatting'

// components

// success function
var successFunc = response => {
  Vue.$log.info('Response', response)
  if (response.data) {
    //
  }
}

// failure function
var failureFunc = response => {
  Vue.$log.info('Response', response)
  if (response && response.data) {
    Vue.$log.info('Errors', response.data.errors)
  }
}

export default {
  name: 'ComponentAppEntityAttributesTable',
  components: {
  },
  props: {
    appId: String,
    entityId: String
  },
  data () {
    return {
      // fields
      fieldAttributeId: null,
      // dialogue
      dialogueModel: false,
      dialogueType: '',
      dialogueTitle: '',
      dialogueMessage: '',
      tablePagination: {
        rowsPerPage: 10
      },
      initialData: null,
      // table
      tableColumns: [
        {
          name: 'attribute_id',
          required: true,
          label: 'ID',
          align: 'left',
          field: 'app_attribute_id',
          sortable: false,
          format: val => formatId(val)
        },
        {
          name: 'attribute_name',
          required: true,
          label: 'Attribute',
          align: 'left',
          field: 'app_attribute_id',
          sortable: false,
          format: val => {
            var attributeData = this.attributeData
            if (!attributeData.length) {
              this.$log.debug('Attribute data not available')
              return val
            }
            this.$log.info('Formatting attributeId', val)
            for (var idx = 0; idx < attributeData.length; idx++) {
              if (attributeData[idx].id === val) {
                return attributeData[idx].name
              }
            }
            this.$log.info('Could not find attributeId >' + val + '< in attributes', attributeData)
            return val
          }
        },
        {
          name: 'calculated_value',
          required: true,
          label: 'Calculated Value',
          align: 'left',
          field: 'calculated_value',
          sortable: false,
          style: 'width: 15%;',
          classes: 'app-numeric-cell'
        },
        {
          name: 'adjusted_value',
          required: true,
          label: 'Adjusted Value',
          align: 'left',
          field: 'adjusted_value',
          sortable: false,
          style: 'width: 15%;',
          classes: 'app-numeric-cell'
        },
        {
          name: 'value',
          required: true,
          label: 'Value',
          align: 'left',
          field: 'value',
          sortable: false,
          style: 'width: 25%'
        },
        {
          name: 'action',
          label: ''
        }
      ]
    }
  },
  computed: {
    tableData () {
      var tableData = this.$store.getters['appEntityAttribute/getRecords']({
        app_id: this.appId,
        entity_id: this.entityId
      })

      // sort array attribute objects by assignable
      // then id to maintain a consistent order
      tableData.sort(function (a, b) {
        var aCmp = (a.assignable === true ? ('a' + a.id) : ('b' + a.id))
        var bCmp = (b.assignable === true ? ('a' + b.id) : ('b' + b.id))
        return (aCmp > bCmp) ? 1 : ((aCmp < bCmp) ? -1 : 0)
      })

      return tableData
    },
    attributeData () {
      return this.$store.getters['appAttribute/getRecords']({
        app_id: this.appId
      })
    },
    fieldAttributeIdOptions () {
      var tableData = this.tableData
      var attributeData = this.attributeData
      var matched = false

      var values = []
      for (var idx = 0; idx < attributeData.length; idx++) {
        matched = false
        for (var tidx = 0; tidx < tableData.length; tidx++) {
          if (tableData[tidx].app_attribute_id === attributeData[idx].id) {
            matched = true
            break
          }
        }
        if (matched) {
          continue
        }
        values.push({
          label: String(attributeData[idx].name),
          value: attributeData[idx].id
        })
      }
      return values
    }
  },
  watch: {
    appId: {
      handler: function (newValue, oldValue) {
        this.$log.info('appId - changed', newValue)
        this.refreshTableData()
        this.refreshAttributeData()
      },
      immediate: true
    },
    entityId: {
      handler: function (newValue, oldValue) {
        this.$log.info('entityId - changed', newValue)
        this.refreshTableData()
        this.refreshAttributeData()
      },
      immediate: true
    },
    tableData: {
      handler: function (newValue) {
        // only want to set initial data once so it doesn't change
        if (this.initialData !== null && this.initialData.length !== 0) {
          return
        }
        this.initialData = JSON.parse(JSON.stringify(newValue))
      }
    }
  },
  methods: {
    getAdjustedValueClasses (row) {
      var classes = ''

      if (row.adjusted_value > row.calculated_value) {
        classes += ' text-green-8'
      } else if (row.adjusted_value < row.calculated_value) {
        classes += ' text-red-8'
      }
      return classes
    },
    onDialogueOk: function (arg) {
      this.dialogueModel = false
    },
    undoChanges (row) {
      if (!this.initialData) {
        return
      }
      this.tableData[row.__index].value = this.initialData[row.__index].value
    },
    undoDisabled (row) {
      if (!this.initialData) {
        return true
      }
      return this.initialData[row.__index].value === this.tableData[row.__index].value
    },
    saveDisabled (row) {
      if (!this.initialData) {
        return true
      }
      return this.initialData[row.__index].value === this.tableData[row.__index].value
    },
    saveRow (row) {
      if (!this.initialData) {
        return
      }
      // save changes
      this.$log.info('Save record changes')

      // success function
      var successFunc = response => {
        this.$log.info('Update/Create record - response ', response)
        if (response.data && response.data.data) {
          // dialogue
          this.dialogueType = 'success'
          this.dialogueTitle = 'Success'
          this.dialogueMessage = 'Record Saved'
          this.dialogueModel = true

          // set undo data to updated row values
          this.initialData[row.__index].value = this.tableData[row.__index].value

          this.refreshTableData()

          setTimeout(() => {
            this.dialogueModel = false
          }, 1000)
        }
      }

      // failure function
      var failureFunc = response => {
        this.$log.info('Update/Create record - Error ', response)
        if (response.data) {
          var dialogueMessage = ''
          this.$log.info('Update/Create record - Error ', response.data.errors)
          response.data.errors.forEach(error => {
            this.$log.info('Update/Create record - Error ', error.detail)
            dialogueMessage = dialogueMessage + error.detail + '<br>'
          })
        }

        this.dialogueType = 'error'
        this.dialogueTitle = 'Error'
        this.dialogueMessage = dialogueMessage
        this.dialogueModel = true
      }

      this.$log.info('Update record')
      this.$store.dispatch('appEntityAttribute/updateRecord', {
        params: { app_id: this.appId, entity_id: this.entityId, id: row.id },
        data: {
          app_attribute_id: row.app_attribute_id,
          app_entity_id: row.app_entity_id,
          value: parseInt(row.value)
        },
        successFunc: successFunc,
        failureFunc: failureFunc
      })

      this.$log.info('Update record - done')
    },
    refreshTableData () {
      //
      if (typeof this.entityId === 'undefined') {
        this.$log.info('entity undefined, not getting records')
        return
      }

      var params = {
        app_id: this.appId,
        entity_id: this.entityId
      }

      this.$log.info('Clearing records with params', params)

      // clear store first
      this.$store.dispatch('appEntityAttribute/clearRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })

      this.$store.dispatch('appEntityAttribute/getRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })
    },
    refreshAttributeData () {
      //
      if (typeof this.entityId === 'undefined') {
        this.$log.info('entityId undefined, not getting records')
        return
      }

      var params = {
        app_id: this.appId
      }

      this.$store.dispatch('appAttribute/getRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })
    }
  },
  created () {
    this.$log.info('Entity attributes table created')
  },
  mounted () {
    this.$log.info('Entity attributes table mounted')
    this.refreshTableData()
  }
}
</script>

<style>
.apps-table-row {
  cursor: pointer
}
</style>
