<template>
  <div style="width: 100%;">
    <q-table
      title="Entity Skills"
      :data="tableData"
      :columns="tableColumns"
      row-key="id"
    >
      <!-- slot name syntax: body-cell-<column_name> -->
      <q-td slot="body-cell-action" slot-scope="props" :props="props">
        <q-btn
          small
          color="negative"
          @click="deleteRecord(props.row.id)"
        >
          <q-icon name="delete"/>
        </q-btn>
      </q-td>

      <q-tr slot="bottom-row" slot-scope="props" :props="props">
        <q-td colspan="1"/>
        <q-td colspan="1">
          <q-field label="Skill" orientation="vertical">
            <q-select
              v-model="fieldSkillId"
              :options="fieldSkillIdOptions"
            />
          </q-field>
        </q-td>
        <q-td colspan="1">
          <q-btn
            small
            color="positive"
            @click="addRecord"
          >
            <q-icon name="add"/>
          </q-btn>
        </q-td>
      </q-tr>

    </q-table>
  </div>
</template>

<script>
import Vue from 'vue'
import { formatId } from '../util/formatting'

// success function
var successFunc = response => {
  Vue.$log.info('Response', response)
  if (response.data) {
    //
  }
}

// failure function
var failureFunc = response => {
  Vue.$log.info('Response', response)
  if (response && response.data) {
    Vue.$log.info('Errors', response.data.errors)
  }
}

export default {
  name: 'ComponentAppEntitySkillsTable',
  components: {
  },
  props: {
    appId: String,
    entityId: String
  },
  data () {
    return {
      // fields
      fieldSkillId: null,
      // table columns
      tableColumns: [
        {
          name: 'skill_id',
          required: true,
          label: 'ID',
          align: 'left',
          field: 'app_skill_id',
          sortable: true,
          format: val => formatId(val)
        },
        {
          name: 'skill_name',
          required: true,
          label: 'Skill',
          align: 'left',
          field: 'app_skill_id',
          sortable: true,
          style: 'width: 60%',
          format: val => {
            var skillData = this.skillData
            if (!skillData.length) {
              this.$log.debug('Skill data not available')
              return val
            }
            this.$log.info('Formatting skillId', val)
            for (var idx = 0; idx < skillData.length; idx++) {
              if (skillData[idx].id === val) {
                return skillData[idx].name
              }
            }
            this.$log.info('Could not find skillId >' + val + ' in skills', skillData)
            return val
          }
        },
        {
          name: 'action',
          label: ''
        }
      ],
      selectedRows: [],
      showEditModal: false,
      showNewModal: false,
      editRecord: {},
      editAction: null
    }
  },
  computed: {
    tableData () {
      return this.$store.getters['appEntitySkill/getRecords']({
        app_id: this.appId,
        app_entity_id: this.entityId
      })
    },
    skillData () {
      return this.$store.getters['appSkill/getRecords']({
        app_id: this.appId
      })
    },
    fieldSkillIdOptions () {
      var tableData = this.tableData
      var skillData = this.skillData
      var matched = false

      var values = []
      for (var idx = 0; idx < skillData.length; idx++) {
        matched = false
        for (var tidx = 0; tidx < tableData.length; tidx++) {
          if (tableData[tidx].app_skill_id === skillData[idx].id) {
            matched = true
            break
          }
        }
        if (matched) {
          continue
        }
        values.push({
          label: String(skillData[idx].name),
          value: skillData[idx].id
        })
      }
      return values
    }
  },
  watch: {
    appId: {
      handler: function (newValue, oldValue) {
        this.$log.info('appId - changed', newValue)
        this.refreshTableData()
        this.refreshSkillData()
      },
      immediate: true
    },
    entityId: {
      handler: function (newValue, oldValue) {
        this.$log.info('entityId - changed', newValue)
        this.refreshTableData()
        this.refreshSkillData()
      },
      immediate: true
    }
  },
  methods: {
    // success function
    updateSuccessFunc: function (response) {
      this.$log.info('Response', response)
      if (response.data) {
        //
      }
      this.$emit('update', 'skills')
    },
    // failure function
    updateFailureFunc: function (response) {
      this.$log.info('Response', response)
      if (response && response.data) {
        Vue.$log.info('Errors', response.data.errors)
      }
    },
    addRecord (ev) {
      this.$log.info('Add record event ' + ev)
      this.$log.info('Add record entityId ' + this.entityId)
      this.$log.info('Add record skillId ' + this.fieldSkillId)

      var params = {
        app_id: this.appId,
        app_entity_id: this.entityId
      }

      this.$log.info('Add record params ', params)

      var result = this.$store.dispatch('appEntitySkill/createRecord', {
        params: params,
        data: {
          app_skill_id: this.fieldSkillId
        },
        successFunc: this.updateSuccessFunc,
        failureFunc: this.updateFailureFunc
      })

      this.$log.info('Delete record result ' + result)
    },
    deleteRecord (entitySkillId) {
      this.$log.info('Delete record event ' + entitySkillId)

      var params = {
        app_id: this.appId,
        app_entity_id: this.entityId,
        id: entitySkillId
      }

      this.$log.info('Delete record params ', params)

      var result = this.$store.dispatch('appEntitySkill/deleteRecord', {
        params: params,
        successFunc: this.updateSuccessFunc,
        failureFunc: this.updateFailureFunc
      })

      this.$log.info('Delete record result ' + result)
    },
    refreshTableData () {
      //
      if (typeof this.entityId === 'undefined') {
        this.$log.info('entityId undefined, not getting records')
        return
      }

      var params = {
        app_id: this.appId,
        app_entity_id: this.entityId
      }

      // clear store first
      this.$store.dispatch('appEntitySkill/clearRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })

      this.$store.dispatch('appEntitySkill/getRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })
    },
    refreshSkillData () {
      //
      if (typeof this.entityId === 'undefined') {
        this.$log.info('entityId undefined, not getting records')
        return
      }

      var params = {
        app_id: this.appId
      }

      this.$store.dispatch('appSkill/getRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })
    }
  },
  created () {
    this.$log.info('Entity skills table created')
  },
  mounted () {
    this.$log.info('Entity skills table mounted')
    this.refreshTableData()
  }
}
</script>

<style>
.apps-table-row {
  cursor: pointer
}
</style>
