<template>
  <div style="width: 100%;">
    <q-table
      title="Entity Group Members"
      :data="tableData"
      :columns="columns"
      row-key="id"
    >
      <!-- slot name syntax: body-cell-<column_name> -->
      <q-td slot="body-cell-action" slot-scope="props" :props="props">
          <q-btn
            small
            color="negative"
            @click="deleteRecord(props.row.id)"
          >
            <q-icon name="delete"/>
          </q-btn>
      </q-td>

      <q-tr slot="bottom-row" slot-scope="props" :props="props">
        <q-td colspan="1"/>
        <q-td colspan="1">
          <q-field label="Name" orientation="vertical">
            <q-select
              v-model="fieldEntityId"
              :options="fieldEntityIdOptions"
            />
          </q-field>
        </q-td>
        <q-td colspan="1">
          <q-btn
            small
            color="positive"
            @click="addRecord"
          >
            <q-icon name="add"/>
          </q-btn>
        </q-td>
      </q-tr>

    </q-table>

    <!-- message dialogue -->
    <q-dialog v-model="dialogueModel" stack-buttons @ok="onDialogueOk">
      <!-- This or use "title" prop on <q-dialog> -->
      <span slot="title">{{ dialogueTitle }}</span>
      <!-- This or use "message" prop on <q-dialog> -->
      <span slot="message" v-html="dialogueMessage"></span>

      <template slot="buttons" slot-scope="props">
        <template v-if="dialogueType === 'error'">
          <q-btn small color="negative" @click="props.ok">
            <q-icon name="done"/>
          </q-btn>
        </template>
      </template>
    </q-dialog>

  </div>
</template>

<script>
import Vue from 'vue'
import { formatId } from '../util/formatting'

export default {
  name: 'ComponentAppEntityGroupMembersTable',
  components: {
  },
  props: {
    appId: String,
    entityGroupId: String
  },
  data () {
    return {
      // fields
      fieldEntityId: null,
      columns: [
        {
          name: 'entity_id',
          required: true,
          label: 'ID',
          align: 'left',
          field: 'app_entity_id',
          sortable: true,
          format: val => formatId(val)
        },
        {
          name: 'entity_name',
          required: true,
          label: 'Name',
          align: 'left',
          field: 'app_entity_id',
          sortable: true,
          style: 'width: 60%',
          format: val => {
            var entityData = this.entityData
            if (!entityData.length) {
              this.$log.debug('Entity data not available')
              return val
            }
            this.$log.info('Formatting entityId', val)
            for (var idx = 0; idx < entityData.length; idx++) {
              if (entityData[idx].id === val) {
                return entityData[idx].name
              }
            }
            this.$log.warn('Could not find entityId >' + val + '< in entitys', entityData)
            return val
          }
        },
        {
          name: 'action',
          label: ''
        }
      ],
      selectedRows: [],
      showEditModal: false,
      showNewModal: false,
      editRecord: {},
      editAction: null,
      // dialogue
      dialogueModel: false,
      dialogueType: '',
      dialogueTitle: '',
      dialogueMessage: ''
    }
  },
  computed: {
    tableData () {
      return this.$store.getters['appEntityGroupMember/getRecords']({
        app_id: this.appId,
        app_entity_group_id: this.entityGroupId
      })
    },
    entityData () {
      return this.$store.getters['appEntity/getRecords']({
        app_id: this.appId
      })
    },
    fieldEntityIdOptions () {
      var entityData = this.entityData

      var values = []
      for (var idx = 0; idx < entityData.length; idx++) {
        // skip if entity is in a group
        if (typeof (entityData[idx].entity_group) !== 'undefined') {
          this.$log.info('Entity ' + entityData[idx].name + ' is in a group', entityData[idx])
          continue
        }

        values.push({
          label: String(entityData[idx].name),
          value: entityData[idx].id
        })
      }
      return values
    }
  },
  watch: {
    appId: {
      handler: function (newValue, oldValue) {
        this.$log.info('appId - changed', newValue)
        this.refreshTableData()
        this.refreshEntityData()
      },
      immediate: true
    },
    entityGroupId: {
      handler: function (newValue, oldValue) {
        this.$log.info('entityGroupId - changed', newValue)
        this.refreshTableData()
        this.refreshEntityData()
      },
      immediate: true
    }
  },
  methods: {
    onDialogueOk: function (arg) {
      this.dialogueModel = false
    },
    // success function
    successFunc (response) {
      this.$log.info('Response', response)
      if (response.data) {
        //
      }
      this.refreshEntityData()
    },
    // failure function
    failureFunc (response) {
      this.$log.warn('Response', response)
      if (response.data) {
        var dialogueMessage = ''
        this.$log.warn('Update/Create record - Error ', response.data.errors)
        response.data.errors.forEach(error => {
          this.$log.warn('Update/Create record - Error ', error.detail)
          dialogueMessage = dialogueMessage + error.detail + '<br>'
        })
      }

      this.dialogueType = 'error'
      this.dialogueTitle = 'Error'
      this.dialogueMessage = dialogueMessage
      this.dialogueModel = true
    },
    addRecord (ev) {
      this.$log.info('Add record event ' + ev)
      this.$log.info('Add record entityGroupId ' + this.entityGroupId)
      this.$log.info('Add record entityId ' + this.fieldEntityId)

      var params = {
        app_id: this.appId,
        app_entity_group_id: this.entityGroupId
      }

      this.$log.info('Add record params ', params)

      var result = this.$store.dispatch('appEntityGroupMember/createRecord', {
        params: params,
        data: {
          app_entity_id: this.fieldEntityId
        },
        successFunc: this.successFunc,
        failureFunc: this.failureFunc
      })

      this.$log.info('Delete record result ' + result)
    },
    deleteRecord (entityId) {
      this.$log.info('Delete record event ' + entityId)

      var params = {
        app_id: this.appId,
        app_entity_group_id: this.entityGroupId,
        id: entityId
      }

      this.$log.info('Delete record params ', params)

      var result = this.$store.dispatch('appEntityGroupMember/deleteRecord', {
        params: params,
        successFunc: this.successFunc,
        failureFunc: this.failureFunc
      })

      this.$log.info('Delete record result ' + result)
    },
    refreshTableData () {
      //
      if (typeof this.appId === 'undefined') {
        this.$log.info('appId undefined, not getting records')
        return
      }

      if (typeof this.entityGroupId === 'undefined') {
        this.$log.info('entityGroupId undefined, not getting records')
        return
      }

      // success function
      var successFunc = response => {
        Vue.$log.info('Response', response)
        if (response.data) {
          //
        }
      }

      // failure function
      var failureFunc = response => {
        Vue.$log.warn('Response', response)
        if (response && response.data) {
          Vue.$log.warn('Errors', response.data.errors)
        }
      }
      var params = {
        app_id: this.appId,
        app_entity_group_id: this.entityGroupId
      }

      this.$store.dispatch('appEntityGroupMember/getRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })
    },
    refreshEntityData () {
      //
      if (typeof this.appId === 'undefined') {
        this.$log.info('appId undefined, not getting records')
        return
      }

      // success function
      var successFunc = response => {
        Vue.$log.info('Response', response)
        if (response.data) {
          //
        }
      }

      // failure function
      var failureFunc = response => {
        Vue.$log.warn('Response', response)
        if (response && response.data) {
          Vue.$log.warn('Errors', response.data.errors)
        }
      }

      var params = {
        app_id: this.appId
      }

      this.$store.dispatch('appEntity/getRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })
    }
  },
  created () {
    this.$log.info('Entity entitys table created')
  },
  mounted () {
    this.$log.info('Entity entitys table mounted')
    this.refreshTableData()
  }
}
</script>

<style>
.apps-table-row {
  cursor: pointer
}
</style>
