<template>
  <div style="width: 100%;">
    <q-table
      title="Entity Items"
      :data="tableData"
      :columns="tableColumns"
      row-key="id"
    >
      <!-- slot name syntax: body-cell-<column_name> -->
      <q-td slot="body-cell-action" slot-scope="props" :props="props">
          <q-btn
            small
            color="negative"
            @click="deleteRecord(props.row.id)"
          >
            <q-icon name="delete"/>
          </q-btn>
      </q-td>

      <q-tr slot="bottom-row" slot-scope="props" :props="props">
        <q-td colspan="1"/>
        <q-td colspan="1">
          <q-field label="Item" orientation="vertical">
            <q-select
              v-model="fieldItemId"
              :options="fieldItemIdOptions"
            />
          </q-field>
        </q-td>
        <q-td colspan="1">
          <q-btn
            small
            color="positive"
            @click="addRecord"
          >
            <q-icon name="add"/>
          </q-btn>
        </q-td>
      </q-tr>

    </q-table>
  </div>
</template>

<script>
import Vue from 'vue'
import { formatId } from '../util/formatting'

// success function
var successFunc = response => {
  Vue.$log.info('Response', response)
  if (response.data) {
    //
  }
}

// failure function
var failureFunc = response => {
  Vue.$log.info('Response', response)
  if (response && response.data) {
    Vue.$log.info('Errors', response.data.errors)
  }
}

export default {
  name: 'ComponentAppEntityItemsTable',
  components: {
  },
  props: {
    appId: String,
    entityId: String
  },
  data () {
    return {
      // fields
      fieldItemId: null,
      // table columns
      tableColumns: [
        {
          name: 'item_id',
          required: true,
          label: 'ID',
          align: 'left',
          field: 'app_item_id',
          sortable: true,
          format: val => formatId(val)
        },
        {
          name: 'item_name',
          required: true,
          label: 'Item',
          align: 'left',
          field: 'app_item_id',
          sortable: true,
          style: 'width: 60%',
          format: val => {
            var itemData = this.itemData
            if (!itemData.length) {
              this.$log.debug('Item data not available')
              return val
            }
            this.$log.info('Formatting itemId', val)
            for (var idx = 0; idx < itemData.length; idx++) {
              if (itemData[idx].id === val) {
                return itemData[idx].name
              }
            }
            this.$log.info('Could not find itemId >' + val + '< in items', itemData)
            return val
          }
        },
        {
          name: 'action',
          label: ''
        }
      ],
      selectedRows: [],
      showEditModal: false,
      showNewModal: false,
      editRecord: {},
      editAction: null
    }
  },
  computed: {
    tableData () {
      return this.$store.getters['appEntityItem/getRecords']({
        app_id: this.appId,
        app_entity_id: this.entityId
      })
    },
    itemData () {
      return this.$store.getters['appItem/getRecords']({
        app_id: this.appId
      })
    },
    fieldItemIdOptions () {
      var tableData = this.tableData
      var itemData = this.itemData
      var matched = false

      var values = []
      for (var idx = 0; idx < itemData.length; idx++) {
        matched = false
        for (var tidx = 0; tidx < tableData.length; tidx++) {
          if (tableData[tidx].app_item_id === itemData[idx].id) {
            matched = true
            break
          }
        }
        if (matched) {
          continue
        }
        values.push({
          label: String(itemData[idx].name),
          value: itemData[idx].id
        })
      }
      return values
    }
  },
  watch: {
    appId: {
      handler: function (newValue, oldValue) {
        this.$log.info('appId - changed', newValue)
        this.refreshTableData()
        this.refreshItemData()
      },
      immediate: true
    },
    entityId: {
      handler: function (newValue, oldValue) {
        this.$log.info('entityId - changed', newValue)
        this.refreshTableData()
        this.refreshItemData()
      },
      immediate: true
    }
  },
  methods: {
    // success function
    updateSuccessFunc: function (response) {
      this.$log.info('Response', response)
      if (response.data) {
        //
      }
      this.$emit('update', 'items')
    },
    // failure function
    updateFailureFunc: function (response) {
      this.$log.info('Response', response)
      if (response && response.data) {
        Vue.$log.info('Errors', response.data.errors)
      }
    },
    addRecord (ev) {
      this.$log.info('Add record event ' + ev)
      this.$log.info('Add record entityId ' + this.entityId)
      this.$log.info('Add record itemId ' + this.fieldItemId)

      var params = {
        app_id: this.appId,
        app_entity_id: this.entityId
      }

      this.$log.info('Add record params ', params)

      var result = this.$store.dispatch('appEntityItem/createRecord', {
        params: params,
        data: {
          app_item_id: this.fieldItemId
        },
        successFunc: this.updateSuccessFunc,
        failureFunc: this.updateFailureFunc
      })

      this.$log.info('Delete record result ' + result)
    },
    deleteRecord (entityItemId) {
      this.$log.info('Delete record event ' + entityItemId)

      var params = {
        app_id: this.appId,
        app_entity_id: this.entityId,
        id: entityItemId
      }

      this.$log.info('Delete record params ', params)

      var result = this.$store.dispatch('appEntityItem/deleteRecord', {
        params: params,
        successFunc: this.updateSuccessFunc,
        failureFunc: this.updateFailureFunc
      })

      this.$log.info('Delete record result ' + result)
    },
    refreshTableData () {
      //
      if (typeof this.entityId === 'undefined') {
        this.$log.info('entity undefined, not getting records')
        return
      }

      var params = {
        app_id: this.appId,
        app_entity_id: this.entityId
      }

      this.$log.info('Clearing records with params', params)

      // clear store first
      this.$store.dispatch('appEntityItem/clearRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })

      this.$store.dispatch('appEntityItem/getRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })
    },
    refreshItemData () {
      //
      if (typeof this.entityId === 'undefined') {
        this.$log.info('entityId undefined, not getting records')
        return
      }

      var params = {
        app_id: this.appId
      }

      this.$store.dispatch('appItem/getRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })
    }
  },
  created () {
    this.$log.info('Entity items table created')
  },
  mounted () {
    this.$log.info('Entity items table mounted')
    this.refreshTableData()
  }
}
</script>

<style>
.apps-table-row {
  cursor: pointer
}
</style>
