<template>
  <div style="width: 100%;">
    <q-table
      title="Effect Attributes"
      :data="tableData"
      :columns="tableColumns"
      row-key="id"
    >
      <!-- slot name syntax: body-cell-<column_name> -->
      <q-td slot="body-cell-attribute_name" slot-scope="props" :props="props">
        <q-select
          v-model="props.row.app_attribute_id"
          :options="fieldAttributeIdOptions"
        />
      </q-td>

      <!-- slot name syntax: body-cell-<column_name> -->
      <q-td slot="body-cell-target" slot-scope="props" :props="props">
        <q-select
          v-model="props.row.target"
          :options="fieldTargetOptions"
        />
      </q-td>

      <!-- slot name syntax: body-cell-<column_name> -->
      <q-td slot="body-cell-apply_constraint" slot-scope="props" :props="props">
        <q-select
          v-model="props.row.apply_constraint"
          :options="fieldApplyConstraintOptions"
        />
      </q-td>

      <!-- slot name syntax: body-cell-<column_name> -->
      <q-td slot="body-cell-value_formula" slot-scope="props" :props="props">
        <q-input v-model="props.row.value_formula">
          <q-tooltip>{{props.row.value_formula}}</q-tooltip>
        </q-input>
      </q-td>

      <!-- slot name syntax: body-cell-<column_name> -->
      <q-td slot="body-cell-action" slot-scope="props" :props="props">
          <q-btn
            small
            color="positive"
            class="app-form-button"
            :disable="saveDisabled(props.row)"
            @click="saveRow(props.row)"
          >
            <q-icon name="edit" />
          </q-btn>
          <q-btn
            small
            color="secondary"
            class="app-form-button"
            :disable="undoDisabled(props.row)"
            @click="undoChanges(props.row)"
          >
            <q-icon name="undo" />
          </q-btn>
          <q-btn
            small
            color="negative"
            @click="deleteRecord(props.row.id)"
          >
            <q-icon name="delete"/>
          </q-btn>
      </q-td>

      <q-tr slot="bottom-row" slot-scope="props" :props="props">
        <q-td colspan="1"/>
        <q-td colspan="1">
          <q-field label="Attribute" orientation="vertical">
            <q-select
              v-model="fieldAttributeId"
              :options="fieldAttributeIdOptions"
            />
          </q-field>
        </q-td>
        <q-td colspan="1">
          <q-field label="Target" orientation="vertical">
            <q-select
              v-model="fieldTarget"
              :options="fieldTargetOptions"
            />
          </q-field>
        </q-td>
        <q-td colspan="1">
          <q-field label="Apply Constraint" orientation="vertical">
            <q-select
              v-model="fieldApplyConstraint"
              :options="fieldApplyConstraintOptions"
            />
          </q-field>
        </q-td>
        <q-td colspan="1">
          <q-field label="Value Formula" orientation="vertical">
            <q-input
              v-model="fieldValueFormula"
            />
          </q-field>
        </q-td>
        <q-td colspan="1">
          <q-btn
            small
            color="positive"
            @click="addRecord"
          >
            <q-icon name="add"/>
          </q-btn>
        </q-td>
      </q-tr>

    </q-table>

    <!-- message dialogue -->
    <q-dialog v-model="dialogueModel" stack-buttons @ok="onDialogueOk">
      <!-- This or use "title" prop on <q-dialog> -->
      <span slot="title">{{ dialogueTitle }}</span>
      <!-- This or use "message" prop on <q-dialog> -->
      <span slot="message" v-html="dialogueMessage"></span>

      <template slot="buttons" slot-scope="props">
        <template v-if="dialogueType === 'error'">
          <q-btn color="primary" label="Ok" @click="props.ok" />
        </template>
      </template>
    </q-dialog>

  </div>
</template>

<script>
import Vue from 'vue'
import { formatId } from '../util/formatting'

// success function
var successFunc = response => {
  Vue.$log.info('Response', response)
  if (response.data) {
    //
  }
}

// failure function
var failureFunc = response => {
  Vue.$log.warn('Response', response)
  if (response && response.data) {
    Vue.$log.warn('Errors', response.data.errors)
  }
}

export default {
  name: 'ComponentAppEntityItemsTable',
  components: {
  },
  props: {
    appId: String,
    effectId: String
  },
  data () {
    return {
      // fields
      fieldAttributeId: null,
      fieldTarget: null,
      fieldApplyConstraint: null,
      fieldValueFormula: null,
      // dialogue
      dialogueModel: false,
      dialogueType: '',
      dialogueTitle: '',
      dialogueMessage: '',
      tablePagination: {
        rowsPerPage: 10
      },
      initialData: null,
      // table
      tableColumns: [
        {
          name: 'attribute_id',
          required: true,
          label: 'ID',
          align: 'left',
          field: 'app_attribute_id',
          sortable: true,
          format: val => formatId(val)
        },
        {
          name: 'attribute_name',
          required: true,
          label: 'Attribute',
          align: 'left',
          field: 'app_attribute_id',
          sortable: true,
          style: 'width: 20%'
        },
        {
          name: 'target',
          required: true,
          label: 'Target',
          align: 'left',
          field: 'target',
          sortable: true,
          style: 'width: 20%'
        },
        {
          name: 'apply_constraint',
          required: true,
          label: 'Apply Constraint',
          align: 'left',
          field: 'apply_constraint',
          sortable: true,
          style: 'width: 20%'
        },
        {
          name: 'value_formula',
          required: true,
          label: 'Value Formula',
          align: 'left',
          field: 'value_formula',
          classes: 'app-formula-text',
          sortable: true,
          style: 'width: 25%'
        },
        {
          name: 'action',
          label: ''
        }
      ]
    }
  },
  computed: {
    tableData () {
      var tableData = this.$store.getters['appEffectAttribute/getRecords']({
        app_id: this.appId,
        app_effect_id: this.effectId
      })

      // sort
      tableData.sort((a, b) => (a.id > b.id) ? 1 : ((b.id > a.id) ? -1 : 0))

      return tableData
    },
    attributeData () {
      return this.$store.getters['appAttribute/getRecords']({
        app_id: this.appId
      })
    },
    fieldTargetOptions () {
      return [
        {
          label: 'Self',
          value: 'self'
        },
        {
          label: 'Any Friend',
          value: 'any-friend'
        },
        {
          label: 'Current Friend',
          value: 'current-friend'
        },
        {
          label: 'Any Foe',
          value: 'any-foe'
        },
        {
          label: 'Current Foe',
          value: 'current-foe'
        }
      ]
    },
    fieldApplyConstraintOptions () {
      return [
        {
          label: 'Less than maximum',
          value: 'maximum'
        },
        {
          label: 'Less than calculated',
          value: 'calculated'
        }
      ]
    },
    fieldAttributeIdOptions () {
      var tableData = this.tableData
      var attributeData = this.attributeData
      var matched = false

      const capitalise = (s) => {
        if (typeof s !== 'string') return ''
        return s.charAt(0).toUpperCase() + s.slice(1)
      }

      var values = []
      for (var idx = 0; idx < attributeData.length; idx++) {
        matched = false
        for (var tidx = 0; tidx < tableData.length; tidx++) {
          if (tableData[tidx].app_item_id === attributeData[idx].id) {
            matched = true
            break
          }
        }
        if (matched) {
          continue
        }
        values.push({
          label: capitalise(String(attributeData[idx].name)),
          value: attributeData[idx].id
        })
      }
      return values
    }
  },
  watch: {
    appId: {
      handler: function (newValue, oldValue) {
        this.$log.info('appId - changed', newValue)
        this.refreshTableData()
        this.refreshAttributeData()
      },
      immediate: true
    },
    effectId: {
      handler: function (newValue, oldValue) {
        this.$log.info('effectId - changed', newValue)
        this.refreshTableData()
        this.refreshAttributeData()
      },
      immediate: true
    },
    tableData: {
      handler: function (newValue) {
        // only want to set initial data once so it doesn't change
        if (this.initialData !== null && this.initialData.length !== 0) {
          return
        }
        this.initialData = JSON.parse(JSON.stringify(newValue))
      }
    }
  },
  methods: {
    onDialogueOk: function (arg) {
      this.dialogueModel = false
    },
    undoChanges (row) {
      if (typeof this.initialData[row.__index] === 'undefined') {
        return
      }
      if (typeof this.tableData[row.__index] === 'undefined') {
        return true
      }
      this.tableData[row.__index].app_attribute_id = this.initialData[row.__index].app_attribute_id
      this.tableData[row.__index].target = this.initialData[row.__index].target
      this.tableData[row.__index].value_formula = this.initialData[row.__index].value_formula
    },
    undoDisabled (row) {
      if (typeof this.initialData[row.__index] === 'undefined') {
        return true
      }
      if (typeof this.tableData[row.__index] === 'undefined') {
        return true
      }
      return this.initialData[row.__index].app_attribute_id === this.tableData[row.__index].app_attribute_id &&
        this.initialData[row.__index].target === this.tableData[row.__index].target &&
        this.initialData[row.__index].value_formula === this.tableData[row.__index].value_formula
    },
    saveDisabled (row) {
      if (typeof this.initialData[row.__index] === 'undefined') {
        return true
      }
      if (typeof this.tableData[row.__index] === 'undefined') {
        return true
      }
      this.$log.warn('Initial data', this.initialData)
      this.$log.warn('Table data', this.tableData)
      return this.initialData[row.__index].app_attribute_id === this.tableData[row.__index].app_attribute_id &&
        this.initialData[row.__index].target === this.tableData[row.__index].target &&
        this.initialData[row.__index].value_formula === this.tableData[row.__index].value_formula
    },
    actionSuccessFunc (response) {
      this.$log.warn('(actionSuccessFunc) - response ', response)
      if (response.data && response.data.data) {
        // refresh table data
        this.refreshTableData()

        // dialogue
        this.dialogueType = 'success'
        this.dialogueTitle = 'Success'
        this.dialogueMessage = response.statusText
        this.dialogueModel = true

        setTimeout(() => {
          this.dialogueModel = false
        }, 1000)

        this.fieldAttributeId = null
        this.fieldTarget = null
        this.fieldApplyConstraint = null
        this.fieldValueFormula = null
      }
    },
    actionFailureFunc (response) {
      this.$log.warn('(actionFailureFunc) - Error ', response)
      if (response.data) {
        var dialogueMessage = ''
        this.$log.warn('Update/Create record - Error ', response.data.errors)
        response.data.errors.forEach(error => {
          this.$log.warn('Update/Create record - Error ', error.detail)
          dialogueMessage = dialogueMessage + error.detail + '<br>'
        })
      }

      this.dialogueType = 'error'
      this.dialogueTitle = 'Error'
      this.dialogueMessage = dialogueMessage
      this.dialogueModel = true
    },
    saveRow (row) {
      if (typeof this.initialData === 'undefined') {
        return
      }
      // save changes
      this.$log.info('Save record changes')

      var params = {
        id: row.id,
        app_id: this.appId,
        app_effect_id: this.effectId
      }

      this.$log.info('Add record params ', params)

      var result = this.$store.dispatch('appEffectAttribute/updateRecord', {
        params: params,
        data: {
          app_attribute_id: row.app_attribute_id,
          target: row.target,
          apply_constraint: row.apply_constraint,
          value_formula: row.value_formula
        },
        successFunc: this.actionSuccessFunc,
        failureFunc: this.actionSuccessFunc
      })

      this.$log.info('Update record result ' + result)
    },
    addRecord (ev) {
      this.$log.info('Add record event ' + ev)
      this.$log.info('Add record effectId ' + this.effectId)
      this.$log.info('Add record attributeId ' + this.fieldAttributeId)
      this.$log.info('Add record target ' + this.fieldTarget)
      this.$log.info('Add record applyConstraint ' + this.applyConstraint)
      this.$log.info('Add record valueFormula ' + this.fieldValueFormula)

      var params = {
        app_id: this.appId,
        app_effect_id: this.effectId
      }

      this.$log.info('Add record params ', params)

      var result = this.$store.dispatch('appEffectAttribute/createRecord', {
        params: params,
        data: {
          app_attribute_id: this.fieldAttributeId,
          target: this.fieldTarget,
          apply_constraint: this.fieldApplyConstraint,
          value_formula: this.fieldValueFormula
        },
        successFunc: this.actionSuccessFunc,
        failureFunc: this.actionFailureFunc
      })

      this.$log.info('Add record result ' + result)
    },
    deleteRecord (effectAttributeId) {
      this.$log.info('Delete record event ' + effectAttributeId)

      var params = {
        app_id: this.appId,
        app_effect_id: this.effectId,
        id: effectAttributeId
      }

      this.$log.info('Delete record params ', params)

      var result = this.$store.dispatch('appEffectAttribute/deleteRecord', {
        params: params,
        successFunc: this.actionSuccessFunc,
        failureFunc: this.actionFailureFunc
      })

      this.$log.info('Delete record result ' + result)
    },
    refreshTableData () {
      //
      if (typeof this.effectId === 'undefined') {
        this.$log.info('entity undefined, not getting records')
        return
      }

      // clear out initial data
      this.initialData = null

      var params = {
        app_id: this.appId,
        app_effect_id: this.effectId
      }

      this.$log.info('Clearing records with params', params)

      // clear store first
      this.$store.dispatch('appEffectAttribute/clearRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })

      this.$store.dispatch('appEffectAttribute/getRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })
    },
    refreshAttributeData () {
      //
      if (typeof this.effectId === 'undefined') {
        this.$log.info('effectId undefined, not getting records')
        return
      }

      var params = {
        app_id: this.appId
      }

      this.$store.dispatch('appAttribute/getRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })
    }
  },
  created () {
    this.$log.info('Effect attributes table created')
  },
  mounted () {
    this.$log.info('Effect attributes table mounted')
    this.refreshTableData()
  }
}
</script>

<style>
.apps-table-row {
  cursor: pointer
}
</style>
