<template>
  <div>
    <q-table
      :data="tableData"
      :columns="tableColumns"
      :visible-columns="visibleColumns"
      row-key="id"
      :pagination.sync="tablePagination"
    >

      <!-- title / new -->
      <div slot="top" slot-scope="props" :props="props" class="full-width">
        <div class="row">
          <div class="col-9">
            <div class="q-title">Edit Effects</div>
          </div>
          <div class="col-2">
            <q-table-columns
              color="secondary"
              class="round-borders shadow-1 app-table-columns"
              v-model="visibleColumns"
              :columns="tableColumns"
            />
          </div>
          <div class="col-1">
            <q-btn small color="positive" @click="newModalOpen()" class="float-right">
              <q-icon name="add"/>
            </q-btn>
          </div>
        </div>
      </div>

      <!-- edit / delete -->
      <q-td slot="body-cell-action" slot-scope="props" :props="props">
        <q-btn
          small
          color="positive"
          class="app-form-button"
          @click="editModalOpen(props.row)"
        >
          <q-icon name="edit"/>
        </q-btn>
        <q-btn
          small
          color="negative"
          @click="deleteRecord(props.row.id)"
        >
          <q-icon name="delete"/>
        </q-btn>
      </q-td>

    </q-table>

    <!-- edit modal -->
    <q-modal v-model="showEditModal" minimized content-css="width: 80%;">
      <q-modal-layout>
        <q-toolbar slot="header">
          <q-toolbar-title>{{editRecord && editRecord.id ? 'Edit App Effect - ' + editRecord.id : 'New App Effect'}}</q-toolbar-title>
          <q-btn color="secondary" @click="editModalClose">
            <q-icon name="close"/>
          </q-btn>
        </q-toolbar>

        <!-- app effect edit form -->
        <app-effect-edit v-bind:appId="appId" v-bind:editRecord="editRecord" v-bind:editAction="editAction"/>
      </q-modal-layout>
    </q-modal>
  </div>
</template>

<script>
import Vue from 'vue'
import { formatId } from '../util/formatting'

// components
import AppEffectEdit from 'components/AppEffectEdit.vue'

// success function
var successFunc = response => {
  Vue.$log.info('(component) Response', response)
  if (response.data) {
    //
  }
}

// failure function
var failureFunc = response => {
  Vue.$log.warn('(compoennt) Response', response)
  if (response && response.data) {
    Vue.$log.warn('Get records - Errors', response.data.errors)
  }
}

export default {
  name: 'ComponentAppEffectsTable',
  components: {
    'app-effect-edit': AppEffectEdit
  },
  props: {
    appId: String
  },
  data () {
    return {
      tablePagination: {
        rowsPerPage: 10
      },
      visibleColumns: [
        'name',
        'type'
      ],
      tableColumns: [
        {
          name: 'id',
          required: true,
          label: 'ID',
          align: 'left',
          field: 'id',
          sortable: true,
          style: 'width: 10%;',
          format: val => formatId(val)
        },
        {
          name: 'name',
          label: 'Name',
          align: 'left',
          field: 'name',
          sortable: true,
          style: 'width: 25%;'
        },
        {
          name: 'type',
          label: 'Type',
          align: 'left',
          field: 'type',
          sortable: true
        },
        {
          name: 'recurring',
          label: 'Recurring',
          align: 'left',
          field: 'recurring',
          sortable: true
        },
        {
          name: 'permanent',
          label: 'Permanent',
          align: 'left',
          field: 'permanent',
          sortable: true
        },
        {
          name: 'duration',
          label: 'Duration',
          align: 'left',
          field: 'duration',
          sortable: true,
          classes: 'app-numeric-cell'
        },
        {
          name: 'action',
          required: true,
          label: ''
        }
      ],
      showEditModal: false,
      editRecord: {},
      editAction: null
    }
  },
  computed: {
    tableData () {
      return this.$store.getters['appEffect/getRecords']({ app_id: this.appId })
    }
  },
  methods: {
    deleteRecord (id) {
      this.$log.info('Delete record ID', id)

      var params = {
        app_id: this.appId
      }

      params['id'] = id

      this.$log.info('Delete record params ', params)

      var result = this.$store.dispatch('appEffect/deleteRecord', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })

      this.$log.info('Delete record result', result)
    },
    newModalOpen (ev) {
      this.$log.info('New modal open')
      this.editRecord = {}
      this.editAction = 'create'
      this.showEditModal = true
    },
    editModalOpen (row) {
      this.$log.info('Edit modal open')
      this.editRecord = Object.assign({}, row)
      this.editAction = 'update'

      for (var prop in this.editRecord) {
        this.$log.info('Edit model open prop - ' + prop)
      }

      this.showEditModal = true
    },
    editModalClose (ev) {
      this.$log.info('Edit modal close')
      this.editRecord = null
      this.editAction = null

      this.showEditModal = false
    }
  },
  created () {
    this.$log.info('App table created')
  },
  mounted () {
    this.$log.info('App table mounted')

    var params = {
      app_id: this.appId
    }

    this.$store.dispatch('appEffect/getRecords', {
      params: params,
      successFunc: successFunc,
      failureFunc: failureFunc
    })
  }
}
</script>

<style>
.apps-table-row {
  cursor: pointer
}
</style>
