<template>
  <div class="app-form">

    <!-- fields -->
    <template v-if="formAction === 'update'">
      <q-field label="ID" orientation="vertical">
        <q-input v-model="fieldId" readonly />
      </q-field>
      <br />
    </template>

    <q-field label="Name" orientation="vertical">
      <q-input v-model="fieldName"/>
    </q-field>
    <br />

    <q-field label="Type" orientation="vertical">
      <q-select
        v-model="fieldType"
        :options="fieldTypeOptions"
      />
    </q-field>
    <br />

    <q-field>
      <q-toggle v-model="fieldRecurring" label="Recurring"/>
    </q-field>
    <br />

    <q-field>
      <q-toggle v-model="fieldPermanent" label="Permanent"/>
    </q-field>
    <br />

    <q-field label="Duration" orientation="vertical">
      <q-slider
        v-model="fieldDuration"
        :min="1"
        :max="50"
        :step="1"
        label-always
        snap
      />
    </q-field>
    <br />

    <!-- submit -->
    <div class="row justify-end">
      <div class="col-auto">
        <q-btn color="positive" class="app-form-button" @click="saveRecordChanges">
          <q-icon name="save"/>
        </q-btn>
        <q-btn color="light" class="app-form-button" @click="undoRecordChanges">
          <q-icon name="undo"/>
        </q-btn>
      </div>
    </div>

    <br/>
    <div class="row">
      <app-effect-attributes-table v-if="fieldId" v-bind:appId="appId" v-bind:effectId="fieldId"/>
    </div>

    <!-- message dialogue -->
    <q-dialog v-model="dialogueModel" stack-buttons @ok="onDialogueOk">
      <!-- This or use "title" prop on <q-dialog> -->
      <span slot="title">{{ dialogueTitle }}</span>
      <!-- This or use "message" prop on <q-dialog> -->
      <span slot="message" v-html="dialogueMessage"></span>

      <template slot="buttons" slot-scope="props">
        <template v-if="dialogueType === 'error'">
          <q-btn color="primary" label="Ok" @click="props.ok" />
        </template>
      </template>
    </q-dialog>
  </div>
</template>

<script>
const formActionCreate = 'create'
const formActionUpdate = 'update'

// components
import AppEffectAttributesTable from 'components/AppEffectAttributesTable.vue'

export default {
  name: 'ComponentAppEffectEdit',
  components: {
    'app-effect-attributes-table': AppEffectAttributesTable
  },
  props: {
    appId: null,
    editAction: null,
    editRecord: {
      type: Object
    }
  },
  data () {
    return {
      // fields
      fieldId: null,
      fieldName: null,
      fieldType: null,
      fieldRecurring: null,
      fieldPermanent: null,
      fieldDuration: null,
      // options
      fieldTypeOptions: [
        {
          label: 'active',
          value: 'active'
        },
        {
          label: 'passive',
          value: 'passive'
        }
      ],
      // dialogue
      dialogueModel: false,
      dialogueType: '',
      dialogueTitle: '',
      dialogueMessage: '',
      // form action
      formAction: null
    }
  },
  watch: {
    editAction: {
      handler: function (newValue, oldValue) {
        this.$log.warn('editAction - Changed', newValue)
        this.formAction = newValue

        // clear form
        if (newValue === formActionCreate) {
          this.fieldId = null
          this.fieldName = null
          this.fieldType = null
          this.fieldRecurring = false
          this.fieldPermanent = false
          this.fieldDuration = 1
        }
      },
      immediate: true
    },
    editRecord: {
      handler: function (newValue, oldValue) {
        this.$log.warn('editRecord - Changed')

        // assign record to field values
        if (typeof newValue !== 'undefined' && newValue !== null && typeof newValue.id !== 'undefined') {
          this.$log.warn('editRecord - Setting values', newValue)
          this.fieldId = newValue.id
          this.fieldName = newValue.name
          this.fieldType = newValue.type
          this.fieldRecurring = newValue.recurring
          this.fieldPermanent = newValue.permanent
          this.fieldDuration = newValue.duration > 0 ? newValue.duration : 1
        }
      },
      immediate: true
    }
  },
  computed: {
    fieldValueOptions: () => {
      var values = []
      for (var val = 1; val < 100; val++) {
        values.push({
          label: String(val),
          value: val
        })
      }
      return values
    }
  },
  methods: {
    onDialogueOk: function (arg) {
      this.dialogueModel = false
    },
    saveRecordChanges: function () {
      // save changes
      this.$log.info('Save record changes')

      // success function
      var successFunc = response => {
        this.$log.info('Update/Create record - response ', response)
        if (response.data) {
          // update fields
          this.fieldId = response.data.data.id
          // change to form action update
          this.formAction = formActionUpdate

          this.dialogueType = 'success'
          this.dialogueTitle = 'Success'
          this.dialogueMessage = 'Record Saved'
          this.dialogueModel = true
          setTimeout(() => {
            this.dialogueModel = false
          }, 1000)
        }
      }

      // failure function
      var failureFunc = response => {
        this.$log.info('Update/Create record - Error ', response)
        if (response.data) {
          var dialogueMessage = ''
          this.$log.warn('Update/Create record - Error ', response.data.errors)
          response.data.errors.forEach(error => {
            this.$log.warn('Update/Create record - Error ', error.detail)
            dialogueMessage = dialogueMessage + error.detail + '<br>'
          })
        }

        this.dialogueType = 'error'
        this.dialogueTitle = 'Error'
        this.dialogueMessage = dialogueMessage
        this.dialogueModel = true
      }

      // form action update / form action create
      if (this.formAction === formActionUpdate) {
        this.$log.info('Update record')
        this.$store.dispatch('appEffect/updateRecord', {
          params: { app_id: this.appId, id: this.fieldId },
          data: {
            id: this.fieldId,
            app_id: this.editRecord.app_id,
            name: this.fieldName,
            type: this.fieldType,
            recurring: this.fieldRecurring || false,
            permanent: this.fieldPermanent || false,
            duration: this.fieldDuration || 1
          },
          successFunc: successFunc,
          failureFunc: failureFunc
        })

        this.$log.info('Update record - done')
      } else if (this.formAction === formActionCreate) {
        this.$log.info('Create record')
        this.$store.dispatch('appEffect/createRecord', {
          params: { app_id: this.appId },
          data: {
            name: this.fieldName,
            type: this.fieldType,
            recurring: this.fieldRecurring || false,
            permanent: this.fieldPermanent || false,
            duration: this.fieldDuration || 1
          },
          successFunc: successFunc,
          failureFunc: failureFunc
        })
      } else {
        this.$log.error('Unsupported form action ', this.formAction)
      }

      this.$log.info('Save record changes - done')
    },
    undoRecordChanges: function () {
      // assign original record to field values
      this.$log.info('Undo record changes')

      this.fieldId = this.editRecord.id
      this.fieldName = this.editRecord.name
      this.fieldType = this.editRecord.type
      this.fieldRecurring = this.editRecord.recurring
      this.fieldPermanent = this.editRecord.permanent
      this.fieldDuration = this.editRecord.duration
    }
  }
}
</script>

<style>
</style>
