
<template>
  <div>
    <div class="app-container shadow-2">
      <div class="q-title q-pa-md q-ml-md">Edit Application</div>
      <div class="app-form">
        <!-- fields -->
        <div class="row">
          <div class="col-6">
            <q-field label="ID" orientation="vertical" class="q-mr-sm">
              <q-input v-model="fieldId" readonly/>
            </q-field>
          </div>
          <div class="col-6">
            <q-field label="Status" orientation="vertical" class="q-ml-sm">
              <q-input v-model="fieldStatus" readonly/>
            </q-field>
          </div>
        </div>
        <br />
        <q-field label="Name" orientation="vertical">
          <q-input v-model="fieldName" />
        </q-field>
        <br />
        <q-field label="Description" orientation="vertical">
          <q-input v-model="fieldDescription" />
        </q-field>
        <br />
        <q-field label="Initiative Formula" orientation="vertical">
          <q-input v-model="fieldInitiativeFormula" />
        </q-field>
        <br/>
        <q-field label="Death Formula" orientation="vertical">
          <q-input v-model="fieldDeathFormula" />
        </q-field>
        <br />

        <!-- submit -->
        <div class="row justify-end">
          <div class="col-auto">
            <q-btn color="positive" class="app-form-button" @click="saveRecordChanges">
              <q-icon name="save"/>
            </q-btn>
            <q-btn color="secondary" class="app-form-button" @click="undoRecordChanges">
              <q-icon name="undo"/>
            </q-btn>
          </div>
        </div>
      </div>
    </div>

    <!-- message dialogue -->
    <q-dialog v-model="dialogueModel" stack-buttons @ok="onDialogueOk">
      <!-- This or use "title" prop on <q-dialog> -->
      <span slot="title">{{dialogueTitle}}</span>
      <!-- This or use "message" prop on <q-dialog> -->
      <span slot="message" v-html="dialogueMessage"></span>

      <template slot="buttons" slot-scope="props">
        <template v-if="dialogueType === 'error'">
          <q-btn color="primary" label="Ok" @click="props.ok"/>
        </template>
      </template>
    </q-dialog>
  </div>
</template>

<script>

export default {
  name: 'ComponentAppEdit',
  components: {},
  props: {
    appId: String
  },
  watch: {
    appId: {
      handler: function (newValue, oldValue) {
        //
        this.$log.info('appId - Changed', newValue)

        // success function
        var successFunc = response => {
          this.$log.info('Get record - response ', response)
          if (response.data && response.data.data) {
            // edit record
            this.editRecord = response.data.data
            // update fields
            this.fieldId = this.editRecord.id
            this.fieldName = this.editRecord.name
            this.fieldDescription = this.editRecord.description
            this.fieldInitiativeFormula = this.editRecord.initiative_formula
            this.fieldDeathFormula = this.editRecord.death_formula
            this.fieldStatus = this.editRecord.status
          }
        }

        // failure function
        var failureFunc = response => {
          this.$log.info('Get record - Error ', response)
          // TODO: handler failure
        }

        this.$store.dispatch('app/getRecord', {
          params: { id: this.appId },
          successFunc: successFunc,
          failureFunc: failureFunc
        })
      },
      immediate: true
    }
  },
  data () {
    return {
      editRecord: {
        type: Object
      },
      fieldId: null,
      fieldName: null,
      fieldDescription: null,
      fieldInitiativeFormula: null,
      fieldDeathFormula: null,
      fieldStatus: null,
      dialogueModel: false,
      dialogueType: '',
      dialogueTitle: '',
      dialogueMessage: ''
    }
  },
  methods: {
    onDialogueOk: function (arg) {
      this.dialogueModel = false
    },
    saveRecordChanges: function () {
      // save changes
      this.$log.info('Save record changes')

      // success function
      var successFunc = response => {
        this.$log.info('Update/Create record - response ', response)
        if (response.data && response.data.data) {
          // edit record
          this.editRecord = response.data.data
          // update fields
          this.fieldId = this.editRecord.id
          this.fieldName = this.editRecord.name
          this.fieldDescription = this.editRecord.description
          this.fieldInitiativeFormula = this.editRecord.initiative_formula
          this.fieldDeathFormula = this.editRecord.death_formula
          this.fieldStatus = this.editRecord.status

          // dialogue
          this.dialogueType = 'success'
          this.dialogueTitle = 'Success'
          this.dialogueMessage = 'Record Saved'
          this.dialogueModel = true
          setTimeout(() => { this.dialogueModel = false }, 1000)
        }
      }

      // failure function
      var failureFunc = response => {
        this.$log.info('Update/Create record - Error ', response)
        if (response.data) {
          var dialogueMessage = ''
          this.$log.warn('Update/Create record - Error ', response.data.errors)
          response.data.errors.forEach(error => {
            this.$log.warn('Update/Create record - Error ', error.detail)
            dialogueMessage = dialogueMessage + error.detail + '<br>'
          })
        }

        this.dialogueType = 'error'
        this.dialogueTitle = 'Error'
        this.dialogueMessage = dialogueMessage
        this.dialogueModel = true
      }

      // update
      this.$log.info('Update record')
      this.$store.dispatch('app/updateRecord', {
        params: { id: this.fieldId },
        data: {
          id: this.fieldId,
          name: this.fieldName,
          description: this.fieldDescription,
          initiative_formula: this.fieldInitiativeFormula,
          death_formula: this.fieldDeathFormula
        },
        successFunc: successFunc,
        failureFunc: failureFunc
      })

      this.$log.info('Update record - done')

      this.$log.info('Save record changes - done')
    },
    undoRecordChanges: function () {
      // assign original record to field values
      this.$log.info('Undo record changes')

      this.fieldId = this.editRecord.id
      this.fieldName = this.editRecord.name
      this.fieldDescription = this.editRecord.description
      this.fieldInitiativeFormula = this.editRecord.initiative_formula
      this.fieldDeathFormula = this.editRecord.death_formula
      this.fieldStatus = this.editRecord.status
    }
  }
}
</script>

<style>
</style>
