<template>
  <div>
    <q-table
      :data="tableData"
      :columns="tableColumns"
      :visible-columns="visibleColumns"
      row-key="id"
      :pagination.sync="tablePagination"
      >

      <!-- title / columns / new -->
      <div slot="top" slot-scope="props" :props="props" class="full-width">
        <div class="row">
          <div class="col-9">
            <div class="q-title">Edit Entity Groups</div>
          </div>
          <div class="col-2">
            <q-table-columns
              color="secondary"
              class="round-borders shadow-1 app-table-columns"
              v-model="visibleColumns"
              :columns="tableColumns"
            />
          </div>
          <div class="col-1">
            <q-btn small color="positive" @click="newModalOpen()" class="float-right">
              <q-icon name="add"/>
            </q-btn>
          </div>
        </div>
      </div>

      <!-- edit / delete -->
      <q-td slot="body-cell-action" slot-scope="props" :props="props">
        <q-btn
          small
          color="positive"
          class="q-mr-sm"
          @click="editModalOpen(props.row)"
        >
          <q-icon name="edit"/>
        </q-btn>
        <q-btn
          small
          color="negative"
          @click="deleteRecord(props.row.id)"
        >
          <q-icon name="delete"/>
        </q-btn>
      </q-td>

    </q-table>

    <!-- message dialogue -->
    <q-dialog v-model="dialogueModel" stack-buttons @ok="onDialogueOk">
      <!-- This or use "title" prop on <q-dialog> -->
      <span slot="title">{{ dialogueTitle }}</span>
      <!-- This or use "message" prop on <q-dialog> -->
      <span slot="message" v-html="dialogueMessage"></span>

      <template slot="buttons" slot-scope="props">
        <template v-if="dialogueType === 'error'">
          <q-btn small color="negative" @click="props.ok">
            <q-icon name="done"/>
          </q-btn>
        </template>
      </template>
    </q-dialog>

    <!-- edit modal -->
    <q-modal v-model="showEditModal" minimized content-css="width: 80%;">
      <q-modal-layout>
        <q-toolbar slot="header">
            <q-toolbar-title>{{editRecord && editRecord.id ? 'Edit App EntityGroup - ' + editRecord.id : 'New App EntityGroup'}}</q-toolbar-title>
          <q-btn color="secondary" @click="editModalClose">
            <q-icon name="close"/>
          </q-btn>
        </q-toolbar>

        <!-- app entity edit form -->
        <app-entity-group-edit v-bind:appId="appId" v-bind:editRecord="editRecord" v-bind:editAction="editAction"/>
      </q-modal-layout>
    </q-modal>

  </div>
</template>

<script>
import { formatId } from '../util/formatting'

// components
import AppEntityGroupEdit from 'components/AppEntityGroupEdit.vue'

export default {
  name: 'ComponentAppEntityGroupsTable',
  components: {
    'app-entity-group-edit': AppEntityGroupEdit
  },
  props: {
    appId: String
  },
  data () {
    return {
      tablePagination: {
        rowsPerPage: 10
      },
      visibleColumns: [
        'name',
        'members'
      ],
      tableColumns: [
        {
          name: 'id',
          required: true,
          label: 'ID',
          align: 'left',
          field: 'id',
          sortable: true,
          style: 'width: 10%;',
          format: val => formatId(val)
        },
        {
          name: 'name',
          label: 'Name',
          align: 'left',
          field: 'name',
          style: 'width: 25%;',
          sortable: true
        },
        {
          name: 'members',
          label: 'Group Members',
          align: 'left',
          field: 'entity_group_members',
          format: (value) => {
            return typeof (value) !== 'undefined' ? value.length : 0
          },
          sortable: true
        },
        {
          name: 'action',
          required: true,
          label: ''
        }
      ],
      showEditModal: false,
      showNewModal: false,
      editRecord: {},
      editAction: null,
      // dialogue
      dialogueModel: false,
      dialogueType: '',
      dialogueTitle: '',
      dialogueMessage: ''
    }
  },
  computed: {
    tableData () {
      return this.$store.getters['appEntityGroup/getRecords']({ app_id: this.appId })
    }
  },
  methods: {
    onDialogueOk: function (arg) {
      this.dialogueModel = false
    },
    // success function
    successFunc (response) {
      this.$log.info('Response', response)
      if (response.data) {
        //
      }
    },
    // failure function
    failureFunc (response) {
      this.$log.warn('Response', response)
      if (response.data) {
        var dialogueMessage = ''
        this.$log.warn('Update/Create record - Error ', response.data.errors)
        response.data.errors.forEach(error => {
          this.$log.warn('Update/Create record - Error ', error.detail)
          dialogueMessage = dialogueMessage + error.detail + '<br>'
        })
      }

      this.dialogueType = 'error'
      this.dialogueTitle = 'Error'
      this.dialogueMessage = dialogueMessage
      this.dialogueModel = true
    },
    deleteRecord (id) {
      this.$log.info('Delete record ID', id)

      var params = {
        app_id: this.appId
      }

      params['id'] = id

      this.$log.info('Delete record params ', params)

      var result = this.$store.dispatch('appEntityGroup/deleteRecord', {
        params: params,
        successFunc: this.successFunc,
        failureFunc: this.failureFunc
      })

      this.$log.info('Delete record result', result)
    },
    newModalOpen (ev) {
      this.$log.info('New modal open')
      this.editRecord = {}
      this.editAction = 'create'
      this.showEditModal = true
    },
    editModalOpen (row) {
      this.$log.info('Edit modal open')
      this.editRecord = Object.assign({}, row)
      this.editAction = 'update'

      for (var prop in this.editRecord) {
        this.$log.info('Edit model open prop - ' + prop)
      }

      this.showEditModal = true
    },
    editModalClose (ev) {
      this.$log.info('Edit modal close')
      this.editRecord = null
      this.editAction = null

      this.refreshTableData()

      this.showEditModal = false
    },
    refreshTableData () {
      var params = {
        app_id: this.appId
      }
      this.$store.dispatch('appEntityGroup/getRecords', {
        params: params,
        successFunc: this.successFunc,
        failureFunc: this.failureFunc
      })
    }
  },
  created () {
    this.$log.info('App table created')
  },
  mounted () {
    this.$log.info('App table mounted')

    this.refreshTableData()
  }
}
</script>

<style>
.apps-table-row {
  cursor: pointer
}
</style>
