<template>
  <div>
    <q-table
      :data="tableData"
      :columns="tableColumns"
      :visible-columns="visibleColumns"
      row-key="id"
      :pagination.sync="tablePagination"
      >

      <!-- title / columns / new -->
      <div slot="top" slot-scope="props" :props="props" class="full-width">
        <div class="row">
          <div class="col-9">
            <div class="q-title">Search Fights</div>
          </div>
          <div class="col-2">
            <q-table-columns
              color="secondary"
              class="round-borders shadow-1 app-table-columns"
              v-model="visibleColumns"
              :columns="tableColumns"
            />
          </div>
          <div class="col-1">
            <q-btn small color="positive" @click="newModalOpen()" class="float-right">
              <q-icon name="add"/>
            </q-btn>
          </div>
        </div>
      </div>

      <!-- edit / delete -->
      <q-td slot="body-cell-action" slot-scope="props" :props="props">
        <q-btn
          small
          color="positive"
          class="app-form-button"
          @click="manageRecord(props.row.id)"
        >
          <q-icon name="settings"/>
        </q-btn>
        <q-btn
          small
          color="negative"
          @click="deleteRecord(props.row.id)"
        >
          <q-icon name="delete"/>
        </q-btn>
      </q-td>

    </q-table>

    <!-- edit modal -->
    <q-modal v-model="showEditModal" minimized content-css="width: 80%;">
      <q-modal-layout>
        <q-toolbar slot="header">
            <q-toolbar-title>{{editRecord && editRecord.id ? 'Edit App Fight - ' + editRecord.id : 'New App Fight'}}</q-toolbar-title>
          <q-btn color="secondary" @click="newModalClose">
            <q-icon name="close"/>
          </q-btn>
        </q-toolbar>

        <!-- app fight create form -->
        <app-fight-create
          v-bind:appId="appId"
          v-bind:editRecord="editRecord"
          @editStateChange="newModalClose"
        />
      </q-modal-layout>
    </q-modal>
  </div>
</template>

<script>
import Vue from 'vue'
import { formatId } from '../util/formatting'

// components
import AppFightCreate from 'components/AppFightCreate.vue'

// success function
var successFunc = response => {
  Vue.$log.info('Response', response)
  if (response.data) {
    //
  }
}

// failure function
var failureFunc = response => {
  Vue.$log.info('Response', response)
  if (response.data) {
    Vue.$log.warn('Get records - Errors', response.data.errors)
  }
}

export default {
  name: 'ComponentFightSearch',
  components: {
    'app-fight-create': AppFightCreate
  },
  props: {
    appId: String
  },
  data () {
    return {
      tablePagination: {
        rowsPerPage: 10
      },
      visibleColumns: [
        'groups',
        'status'
      ],
      tableColumns: [
        {
          name: 'id',
          required: true,
          label: 'ID',
          align: 'left',
          field: 'id',
          sortable: true,
          style: 'width: 10%;',
          format: val => formatId(val)
        },
        {
          name: 'groups',
          label: 'Entity Groups',
          align: 'left',
          field: 'fight_entity_groups',
          format: (value) => {
            return typeof (value) !== 'undefined' ? value.length : 0
          },
          sortable: true
        },
        {
          name: 'status',
          label: 'Status',
          align: 'left',
          field: 'status',
          sortable: true
        },
        {
          name: 'action',
          required: true,
          label: ''
        }
      ],
      showEditModal: false,
      showNewModal: false,
      editRecord: {},
      editState: null
    }
  },
  computed: {
    tableData () {
      return this.$store.getters['appFight/getRecords']({ app_id: this.appId })
    }
  },
  watch: {
    editState: {
      handler: function (newValue, oldValue) {
        if (newValue === 'created') {
          this.newModalClose()
        }
      },
      immediate: true
    }
  },
  methods: {
    deleteRecord (id) {
      this.$log.info('Delete record ID', id)

      var params = {
        app_id: this.appId
      }

      params['id'] = id

      this.$log.info('Delete record params ', params)

      var result = this.$store.dispatch('appFight/deleteRecord', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })

      this.$log.info('Delete record result', result)
    },
    newModalOpen (ev) {
      this.$log.info('New modal open')
      this.editRecord = {}
      this.editAction = 'create'
      this.showEditModal = true
    },
    newModalClose (ev) {
      this.$log.info('Edit modal close')
      this.editRecord = null
      this.editAction = null

      this.refreshTableData()

      this.showEditModal = false
    },
    manageRecord (id) {
      this.$log.info('Manage fight ID', id)
      // update app context
      this.$store.commit('context/updateFightId', id)
      // navigate
      this.$router.push('/apps/' + this.appId + '/fights/' + id)
      return true
    },
    refreshTableData () {
      var params = {
        app_id: this.appId
      }

      this.$store.dispatch('appFight/getRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })
    }
  },
  created () {
    this.$log.info('App table created')
  },
  mounted () {
    this.$log.info('App table mounted')

    this.refreshTableData()
  }
}
</script>

<style>
.apps-table-row {
  cursor: pointer
}
</style>
