<template>
  <div class="app-container shadow-1 q-mb-md q-pl-md q-pr-md q-pb-md">

    <template v-if="appFightRecord">

      <!-- title / refresh -->
      <div class="row">
        <div class="col-6">
          <div class="q-title q-pa-md">Manage Fight</div>
        </div>
        <div class="col-6">
          <q-btn :color="refreshEnabled===true?'negative':'positive'" class="q-ma-sm float-right" @click="refreshOnOff">
              <q-icon v-if="refreshEnabled===true" name="stop"/>
              <q-icon v-if="refreshEnabled!==true" name="refresh"/>
          </q-btn>
        </div>
      </div>

      <div class="q-pr-md q-pl-md">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <q-field label="ID:" label-width="2" orientation="vertical" class="q-mr-sm">
              {{appFightRecord.id.substring(0, 8)}}
            </q-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <q-field label="Status:" label-width="2" orientation="vertical" class="q-mr-sm">
              {{appFightRecord.status.charAt(0).toUpperCase() + appFightRecord.status.slice(1)}}
            </q-field>
          </div>
        </div>
      </div>

      <div class="row justify-end">
        <div class="col-auto">
          <q-btn color="positive" class="app-form-button" :disabled="appFightRecord.status!='waiting'&&appFightRecord.status!='done'" @click="startFight">
            <q-icon name="play_arrow"/>
          </q-btn>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'ComponentAppManage',
  props: {
    appId: String,
    fightId: String
  },
  data () {
    return {
      // dialogue
      dialogueModel: false,
      dialogueType: '',
      dialogueTitle: '',
      dialogueMessage: '',
      // refresh
      refreshEnabled: false,
      refreshInterval: null
    }
  },
  computed: {
    appFightRecord () {
      var params = { app_id: this.appId, id: this.fightId }
      return this.$store.getters['appFight/getRecord'](params, this.fightId)
    }
  },
  methods: {
    refreshOnOff: function () {
      if (this.refreshEnabled === true) {
        this.refreshEnabled = false
        this.stopRefresh()
        return
      }
      this.refreshEnabled = true
      this.startRefresh()
    },
    onDialogueOk: function (arg) {
      this.dialogueModel = false
    },
    startFight: function () {
      //
      this.$log.warn('Starting fight')

      this.$store.dispatch('appFight/updateRecord', {
        params: { app_id: this.appId, id: this.fightId },
        data: {
          id: this.fightId,
          app_id: this.appId,
          status: 'starting'
        },
        successFunc: this.successFunc,
        failureFunc: this.failureFunc
      })
    },
    stopFight: function () {
      //
      this.$log.warn('Stopping fight')

      this.$store.dispatch('appFight/updateRecord', {
        params: { app_id: this.appId, id: this.fightId },
        data: {
          id: this.fightId,
          app_id: this.appId,
          status: 'stopping'
        },
        successFunc: this.successFunc,
        failureFunc: this.failureFunc
      })
    },
    // success function
    successFunc: function (response) {
      Vue.$log.info('Response', response)
      if (response.data) {
        //
      }
    },
    // failure function
    failureFunc: function (response) {
      Vue.$log.warn('Response', response)
      if (response && response.data) {
        Vue.$log.warn('Errors', response.data.errors)
      }
    },
    startRefresh: function () {
      this.$log.warn('Starting fight refresh')
      if (typeof this.fightId === 'undefined') {
        this.$log.info('fightId undefined, not getting record')
        return
      }

      var params = { app_id: this.appId, id: this.fightId }

      if (this.refreshEnabled) {
        this.$log.warn('Fight refresh enabled')
        this.refreshInterval = setInterval(() => {
          this.$store.dispatch('appFight/getRecord', {
            params: params,
            successFunc: this.successFunc,
            failureFunc: this.failureFunc
          })
        }, 2500)
      } else {
        this.$log.warn('Fight refresh disabled')
        this.$store.dispatch('appFight/getRecord', {
          params: params,
          successFunc: this.successFunc,
          failureFunc: this.failureFunc
        })
      }
    },
    stopRefresh: function () {
      this.$log.warn('Stopping fight refresh')
      clearInterval(this.refreshInterval)
    }
  },
  mounted () {
    this.$log.info('App header mounted')
    this.startRefresh()
  },
  destroyed () {
    //
    this.$log.warn('Destroyed, stopping app fetch interval')
    this.stopRefresh()
  }
}
</script>

<style>
</style>
