<template>
  <div>

    <template v-if="fightInstanceTurn!==null">
      <div class="row q-ma-sm">
        <div class="col-6">
          Turn {{fightInstanceTurnIdx}}
        </div>
      </div>

      <div class="row q-ma-sm">
        <div class="col-2" v-for="entity in fightInstanceTurn.data.entities" :key="entity.app_entity_id">
          {{entity.name}}
          <div v-for="attribute in entity.attributes" :key="attribute.app_entity_attribute_id">
            {{attribute.name}} : {{attribute.adjusted_value}}
            <div :style="getAttributeCellStyle(attribute)">{{getAttributePercent(attribute)}}</div>
          </div>
          <div class="row q-ma-sm">
            Dead : {{entity.dead}}
          </div>
        </div>
      </div>

      <div class="row q-ma-sm" style="height: 200px; overflow-y: scroll;">
        <div class="col-12">
          <div class="row q-ma-sm" v-for="tacticEvent in fightInstanceTurn.data.tactic_events" :key="tacticEvent.id">
            <div class="col-12">
              <pre>{{getEventText(tacticEvent)}}</pre>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row q-ma-sm" v-for="effectEvent in fightInstanceTurn.data.effect_events" :key="effectEvent.id">
            <div class="col-12">
              <pre>{{getEffectEventText(effectEvent)}}</pre>
            </div>
          </div>
        </div>
      </div>

      <!-- prev/next -->
      <div class="row justify-end q-ma-sm">
        <div class="col-auto">
          <q-btn :disabled="fightInstanceTurnIdx===0" color="primary" class="app-form-button" @click="firstTurn">
            <q-icon name="skip_previous"/>
          </q-btn>
          <q-btn :disabled="fightInstanceTurnIdx===0" color="primary" class="app-form-button" @click="previousTurn">
            <q-icon name="navigate_before"/>
          </q-btn>
          <q-btn :disabled="fightInstanceTurnIdx==fightInstanceTurnCount-1" :color="autoplayEnabled===true?'negative':'positive'" class="app-form-button" @click="autoplayOnOff">
            <q-icon v-if="autoplayEnabled===true" name="stop"/>
            <q-icon v-if="autoplayEnabled===false" name="play_arrow"/>
          </q-btn>
          <q-btn :disabled="fightInstanceTurnIdx===fightInstanceTurnCount-1" color="primary" class="app-form-button" @click="nextTurn">
            <q-icon name="navigate_next"/>
          </q-btn>
          <q-btn :disabled="fightInstanceTurnIdx===fightInstanceTurnCount-1" color="primary" class="app-form-button" @click="lastTurn">
            <q-icon name="skip_next"/>
          </q-btn>
        </div>
      </div>

    </template>
  </div>
</template>

<script>
export default {
  name: 'ComponentAppFightInstanceReplay',
  props: {
    appId: null,
    replayRecord: {
      type: Object
    }
  },
  data () {
    return {
      fightInstanceTurnIdx: 0,
      fightInstanceTurnCount: 0,
      fightInstanceTurn: null,
      autoplayEnabled: false,
      autoplayInterval: null
    }
  },
  computed: {
    fightInstanceTurnData () {
      //
      if (this.replayRecord === null || this.replayRecord.id === null) {
        this.$log.debug('Replay record is null, cannot get fight instance turn records')
        return
      }

      var turnData = this.$store.getters['appFightInstanceTurn/getRecords']({
        app_id: this.appId,
        app_fight_id: this.replayRecord.app_fight_id,
        app_fight_instance_id: this.replayRecord.id
      })

      return turnData
    }
  },
  watch: {
    appId: {
      handler: function (newValue, oldValue) {
        this.$log.info('appId - changed', newValue)
        this.refreshReplayData()
      },
      immediate: true
    },
    replayRecord: {
      handler: function (newValue, oldValue) {
        this.$log.info('replayRecord - changed', newValue)
        this.refreshReplayData()
      },
      immediate: true
    },
    fightInstanceTurnData: {
      handler: function (newValue, oldValue) {
        this.$log.info('fightInstanceTurnData - changed', newValue)
        if (typeof newValue !== 'undefined' && newValue.length > 0) {
          this.$log.info('fightInstanceTurnData - setting fight instance turn / idx', newValue[0])
          this.fightInstanceTurnIdx = 0
          this.fightInstanceTurnCount = newValue.length
          this.fightInstanceTurn = newValue[0]
        }
      },
      immediate: true
    },
    fightInstanceTurn: {
      handler: function (newValue, oldValue) {
        this.$log.warn('fightInstanceTurn - changed', newValue)
      }
    }
  },
  methods: {
    autoplayOnOff: function () {
      if (this.autoplayEnabled === true) {
        this.stopAutoplay()
        return
      }
      this.startAutoplay()
    },
    getAttributePercent (attribute) {
      var calculated = (attribute.calculated_value === 0 ? 100 : attribute.calculated_value)

      var percent = (attribute.adjusted_value * 100) / calculated
      if (percent < 0) {
        percent = 0
      }
      return Math.round(percent)
    },
    getAttributeCellStyle (attribute) {
      var percent = this.getAttributePercent(attribute)

      var red = 255 - ((percent / 100) * 255)
      var green = (percent / 100) * 255
      var blue = 0

      green = Math.round(green).toString(16)
      red = Math.round(red).toString(16)
      blue = Math.round(blue).toString(16)

      while (red.length < 2) red = '0' + red
      while (green.length < 2) green = '0' + green
      while (blue.length < 2) blue = '0' + blue

      return 'background-color: #' + red + green + blue + ';' + '; width: ' + percent + '%;'
    },
    getEventText (event) {
      // tactic event
      var eventText = event.source_entity_name + ' ' + event.narrative_text + ' ' + event.target_entity_name + ' with '
      if (event.app_item_id !== '') {
        eventText += 'their ' + event.item_name + '.'
      } else if (event.app_skill_id !== '') {
        eventText += event.skill_name + '.'
      }
      // tactic effect events
      if (event.effect_events != null) {
        for (var idx = 0; idx < event.effect_events.length; idx++) {
          var effectEvent = event.effect_events[idx]
          eventText += '\n' + this.getEffectEventText(effectEvent)
        }
      }
      return eventText
    },
    getEffectEventText (effect) {
      return effect.effect_name + ' ' +
        effect.narrative_text + ' ' +
        effect.target_entity_name + '\'s ' +
        effect.attribute_name + ' for ' +
        effect.adjustment_value + '.'
    },
    firstTurn () {
      this.$log.debug('First turn', this.fightInstanceTurnIdx)
      if (this.fightInstanceTurnData !== null) {
        if (this.fightInstanceTurnData[0] !== null &&
          typeof this.fightInstanceTurnData[0] !== 'undefined') {
          this.fightInstanceTurnIdx = 0
          this.fightInstanceTurn = this.fightInstanceTurnData[0]
        }
      }
    },
    previousTurn () {
      this.$log.debug('Previous turn', this.fightInstanceTurnIdx)
      if (this.fightInstanceTurnData !== null) {
        var previousIdx = this.fightInstanceTurnIdx - 1
        if (this.fightInstanceTurnData[previousIdx] !== null &&
          typeof this.fightInstanceTurnData[previousIdx] !== 'undefined') {
          this.fightInstanceTurnIdx = previousIdx
          this.fightInstanceTurn = this.fightInstanceTurnData[previousIdx]
        }
      }
    },
    nextTurn () {
      this.$log.warn('Next turn', this.fightInstanceTurnIdx)
      if (this.fightInstanceTurnData !== null) {
        var nextIdx = this.fightInstanceTurnIdx + 1
        if (this.fightInstanceTurnData[nextIdx] !== null &&
          typeof this.fightInstanceTurnData[nextIdx] !== 'undefined') {
          this.fightInstanceTurnIdx = nextIdx
          this.fightInstanceTurn = this.fightInstanceTurnData[nextIdx]
          this.$log.warn('Next turn', this.fightInstanceTurnIdx)
          return
        }
      }
      // stop autoplay if we have reached the end of fight turns
      this.stopAutoplay()
    },
    lastTurn () {
      this.$log.debug('Last turn', this.fightInstanceTurnIdx)
      if (this.fightInstanceTurnData !== null) {
        var lastIdx = this.fightInstanceTurnCount - 1
        if (this.fightInstanceTurnData[lastIdx] !== null &&
          typeof this.fightInstanceTurnData[lastIdx] !== 'undefined') {
          this.fightInstanceTurnIdx = lastIdx
          this.fightInstanceTurn = this.fightInstanceTurnData[lastIdx]
          return
        }
      }
      // stop autoplay if we have reached the end of fight turns
      this.stopAutoplay()
    },
    startAutoplay () {
      this.$log.debug('Starting autoplay')

      clearInterval(this.autoplayInterval)

      this.autoplayEnabled = true
      this.autoplayInterval = setInterval(() => {
        this.$log.debug('(Interval) autoplayEnabled ', this.autoplayEnabled)
        if (this.autoplayEnabled === true) {
          this.$log.debug('(Interval) next turn')
          this.nextTurn()
        }
      }, 1000)
    },
    stopAutoplay () {
      this.$log.debug('Stopping autoplay')
      this.autoplayEnabled = false
      clearInterval(this.autoplayInterval)
    },
    refreshReplayData () {
      //
      if (typeof this.appId === 'undefined') {
        this.$log.info('appId undefined, not getting records')
        return
      }

      if (this.replayRecord === null) {
        this.$log.info('replayRecord undefined, not getting records')
        return
      }

      // success function
      var successFunc = response => {
        this.$log.info('Response', response)
        if (response.data) {
          //
        }
      }

      // failure function
      var failureFunc = response => {
        this.$log.debug('Response', response)
        if (response && response.data) {
          this.$log.debug('Errors', response.data.errors)
        }
      }
      var params = {
        app_id: this.appId,
        app_fight_id: this.replayRecord.app_fight_id,
        app_fight_instance_id: this.replayRecord.id
      }

      this.$store.dispatch('appFightInstanceTurn/getRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })
    }
  }
}
</script>

<style>
</style>
