<template>
  <div>

    <q-table
      title="Fight Instances"
      :data="tableData"
      :columns="tableColumns"
      row-key="id"
    >

      <div slot="top-right" slot-scope="props" :props="props">
        <q-btn :color="refreshEnabled===true?'negative':'positive'" class="q-ma-sm float-right" @click="refreshOnOff">
            <q-icon v-if="refreshEnabled===true" name="stop"/>
            <q-icon v-if="refreshEnabled!==true" name="refresh"/>
        </q-btn>
      </div>

      <!-- slot name syntax: body-cell-<column_name> -->
      <q-td slot="body-cell-action" slot-scope="props" :props="props">
          <q-btn
            small
            color="positive"
            class="app-form-button"
            @click="replayModalOpen(props.row)"
          >
            <q-icon name="replay"/>
          </q-btn>
          <q-btn
            small
            color="negative"
            class="app-form-button"
            @click="deleteRecord(props.row.id)"
          >
            <q-icon name="delete"/>
          </q-btn>
      </q-td>

    </q-table>

    <!-- message dialogue -->
    <q-dialog v-model="dialogueModel" stack-buttons @ok="onDialogueOk">
      <!-- This or use "title" prop on <q-dialog> -->
      <span slot="title">{{ dialogueTitle }}</span>
      <!-- This or use "message" prop on <q-dialog> -->
      <span slot="message" v-html="dialogueMessage"></span>

      <template slot="buttons" slot-scope="props">
        <template v-if="dialogueType === 'error'">
          <q-btn small color="negative" @click="props.ok">
            <q-icon name="done"/>
          </q-btn>
        </template>
      </template>
    </q-dialog>

    <!-- replay modal -->
    <q-modal v-model="showReplayModal" minimized content-css="width: 80%;">
      <q-modal-layout>
        <q-toolbar slot="header">
            <q-toolbar-title>{{replayRecord && replayRecord.id ? 'Replay Fight ID - ' + replayRecord.id : ''}}</q-toolbar-title>
          <q-btn color="secondary" @click="replayModalClose">
            <q-icon name="close"/>
          </q-btn>
        </q-toolbar>

        <!-- app fight instance replay -->
        <app-fight-instance-replay v-bind:appId="appId" v-bind:replayRecord="replayRecord"/>
      </q-modal-layout>
    </q-modal>

  </div>
</template>

<script>
import Vue from 'vue'
import { formatId } from '../util/formatting'

// components
import AppFightInstanceReplay from 'components/AppFightInstanceReplay.vue'

export default {
  name: 'ComponentAppFightInstancesTable',
  components: {
    'app-fight-instance-replay': AppFightInstanceReplay
  },
  props: {
    appId: String,
    fightId: String
  },
  data () {
    return {
      tableColumns: [
        {
          name: 'id',
          required: true,
          label: 'ID',
          align: 'left',
          field: 'id',
          sortable: true,
          style: 'width: 10%;',
          format: val => formatId(val)
        },
        {
          name: 'app_fight_id',
          label: 'Fight ID',
          align: 'left',
          field: 'app_fight_id',
          sortable: true,
          format: val => formatId(val)
        },
        {
          name: 'turns',
          label: 'Turns',
          align: 'left',
          field: 'turn',
          sortable: true
        },
        {
          name: 'status',
          label: 'Status',
          align: 'left',
          field: 'status',
          sortable: true
        },
        {
          name: 'action',
          required: true,
          label: ''
        }
      ],
      showNewModal: false,
      showReplayModal: false,
      replayRecord: {},
      // dialogue
      dialogueModel: false,
      dialogueType: '',
      dialogueTitle: '',
      dialogueMessage: '',
      // refresh
      refreshEnabled: false,
      refreshInterval: null
    }
  },
  computed: {
    tableData () {
      this.$log.info('tableData - appId', this.appId)
      this.$log.info('tableData - fightId', this.fightId)
      return this.$store.getters['appFightInstance/getRecords']({
        app_id: this.appId,
        app_fight_id: this.fightId
      })
    }
  },
  watch: {
    appId: {
      handler: function (newValue, oldValue) {
        this.$log.info('appId - changed', newValue)
        this.refreshTableData()
      },
      immediate: true
    },
    fightId: {
      handler: function (newValue, oldValue) {
        this.$log.info('fightId - changed', newValue)
        this.refreshTableData()
      },
      immediate: true
    }
  },
  methods: {
    refreshOnOff: function () {
      if (this.refreshEnabled === true) {
        this.refreshEnabled = false
        this.stopRefresh()
        return
      }
      this.refreshEnabled = true
      this.startRefresh()
    },
    onDialogueOk: function (arg) {
      this.dialogueModel = false
    },
    // success function
    successFunc (response) {
      this.$log.info('Response', response)
      if (response.data) {
        //
      }
    },
    // failure function
    failureFunc (response) {
      this.$log.warn('Response', response)
      if (response.data) {
        var dialogueMessage = ''
        this.$log.warn('Update/Create record - Error ', response.data.errors)
        response.data.errors.forEach(error => {
          this.$log.warn('Update/Create record - Error ', error.detail)
          dialogueMessage = dialogueMessage + error.detail + '<br>'
        })
      }

      this.dialogueType = 'error'
      this.dialogueTitle = 'Error'
      this.dialogueMessage = dialogueMessage
      this.dialogueModel = true
    },
    deleteRecord (fightInstanceId) {
      this.$log.info('Delete record event ' + fightInstanceId)

      var params = {
        app_id: this.appId,
        app_fight_id: this.fightId,
        id: fightInstanceId
      }

      this.$log.info('Delete record params ', params)

      var result = this.$store.dispatch('appFightInstance/deleteRecord', {
        params: params,
        successFunc: this.successFunc,
        failureFunc: this.failureFunc
      })

      this.$log.info('Delete record result ' + result)
    },
    replayModalOpen (row) {
      this.$log.info('Replay modal open')
      this.replayRecord = Object.assign({}, row)

      for (var prop in this.replayRecord) {
        this.$log.info('Replay model open prop - ' + prop)
      }

      this.showReplayModal = true
    },
    replayModalClose (ev) {
      this.$log.info('Replay modal close')
      this.replayRecord = null

      this.showReplayModal = false
    },
    refreshTableData () {
      //
      if (typeof this.appId === 'undefined') {
        this.$log.info('appId undefined, not getting records')
        return
      }

      if (typeof this.fightId === 'undefined') {
        this.$log.info('fightId undefined, not getting records')
        return
      }

      // success function
      var successFunc = response => {
        Vue.$log.info('Response', response)
        if (response.data) {
          //
        }
      }

      // failure function
      var failureFunc = response => {
        Vue.$log.warn('Response', response)
        if (response && response.data) {
          Vue.$log.warn('Errors', response.data.errors)
        }
      }
      var params = {
        app_id: this.appId,
        app_fight_id: this.fightId
      }

      this.$store.dispatch('appFightInstance/getRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })
    },
    startRefresh () {
      this.$log.warn('Starting fight instance table data refresh')
      if (this.refreshEnabled) {
        this.$log.warn('Table data refresh enabled')
        this.refreshInterval = setInterval(() => {
          this.refreshTableData()
        }, 2500)
      } else {
        this.$log.warn('Table data refresh disabled')
        this.refreshTableData()
      }
    },
    stopRefresh () {
      this.$log.warn('Stop fight instance table data refresh')
      clearInterval(this.refreshInterval)
    }
  },
  created () {
    this.$log.info('Fight entity groups table created')
  },
  mounted () {
    this.$log.info('Fight entity groups table mounted')
    this.startRefresh()
  },
  destroyed () {
    this.stopRefresh()
  }
}
</script>

<style>
.apps-table-row {
  cursor: pointer
}
</style>
