<template>
  <div>

    <q-table
      title="Fight Entity Groups"
      :data="tableData"
      :columns="tableColumns"
      row-key="id"
    >
      <!-- slot name syntax: body-cell-<column_name> -->
      <q-td slot="body-cell-action" slot-scope="props" :props="props">
          <q-btn
            small
            color="negative"
            @click="deleteRecord(props.row.id)"
          >
            <q-icon name="delete"/>
          </q-btn>
      </q-td>

      <!-- add entity group -->
      <q-tr slot="bottom-row" slot-scope="props" :props="props">
        <q-td colspan="2"/>
        <q-td colspan="1">
          <q-field label="Name" orientation="vertical">
            <q-select
              v-model="fieldEntityGroupId"
              :options="fieldEntityGroupIdOptions"
            />
          </q-field>
        </q-td>
        <q-td colspan="1">
          <q-btn
            small
            color="positive"
            @click="addRecord"
          >
            <q-icon name="add"/>
          </q-btn>
        </q-td>
      </q-tr>

    </q-table>

    <!-- message dialogue -->
    <q-dialog v-model="dialogueModel" stack-buttons @ok="onDialogueOk">
      <!-- This or use "title" prop on <q-dialog> -->
      <span slot="title">{{ dialogueTitle }}</span>
      <!-- This or use "message" prop on <q-dialog> -->
      <span slot="message" v-html="dialogueMessage"></span>

      <template slot="buttons" slot-scope="props">
        <template v-if="dialogueType === 'error'">
          <q-btn small color="negative" @click="props.ok">
            <q-icon name="done"/>
          </q-btn>
        </template>
      </template>
    </q-dialog>

  </div>
</template>

<script>
import Vue from 'vue'
import { formatId } from '../util/formatting'

export default {
  name: 'ComponentAppFightEntityGroupTable',
  components: {
  },
  props: {
    appId: String,
    fightId: String
  },
  data () {
    return {
      // fields
      fieldEntityGroupId: null,
      tableColumns: [
        {
          name: 'id',
          required: true,
          label: 'ID',
          align: 'left',
          field: 'id',
          sortable: true,
          style: 'width: 10%;',
          format: val => formatId(val)
        },
        {
          name: 'entity_group_id',
          required: true,
          label: 'Entity Group ID',
          align: 'left',
          field: 'app_entity_group_id',
          sortable: true,
          format: val => formatId(val)
        },
        {
          name: 'entity_group_name',
          required: true,
          label: 'Name',
          align: 'left',
          field: 'app_entity_group_id',
          sortable: true,
          style: 'width: 60%',
          format: val => {
            var entityGroupData = this.entityGroupData
            if (!entityGroupData.length) {
              this.$log.debug('Entity group data not available')
              return val
            }
            this.$log.info('Formatting entityId', val)
            for (var idx = 0; idx < entityGroupData.length; idx++) {
              if (entityGroupData[idx].id === val) {
                return entityGroupData[idx].name
              }
            }
            this.$log.warn('Could not find entityGroupId >' + val + '< in entity groups', entityGroupData)
            return val
          }
        },
        {
          name: 'action',
          required: true,
          label: ''
        }
      ],
      showEditModal: false,
      showNewModal: false,
      editRecord: {},
      editAction: null,
      // dialogue
      dialogueModel: false,
      dialogueType: '',
      dialogueTitle: '',
      dialogueMessage: ''
    }
  },
  computed: {
    tableData () {
      this.$log.info('tableData - appId', this.appId)
      this.$log.info('tableData - fightId', this.fightId)
      return this.$store.getters['appFightEntityGroup/getRecords']({
        app_id: this.appId,
        app_fight_id: this.fightId
      })
    },
    entityGroupData () {
      return this.$store.getters['appEntityGroup/getRecords']({
        app_id: this.appId
      })
    },
    fieldEntityGroupIdOptions () {
      var entityGroupData = this.entityGroupData

      var values = []
      for (var idx = 0; idx < entityGroupData.length; idx++) {
        // skip if entity group is in a fight
        if (typeof (entityGroupData[idx].fight) !== 'undefined') {
          this.$log.info('Entity ' + entityGroupData[idx].name + ' is in a group', entityGroupData[idx])
          continue
        }

        values.push({
          label: String(entityGroupData[idx].name),
          value: entityGroupData[idx].id
        })
      }
      return values
    }
  },
  watch: {
    appId: {
      handler: function (newValue, oldValue) {
        this.$log.info('appId - changed', newValue)
        this.refreshTableData()
        this.refreshEntityGroupData()
      },
      immediate: true
    },
    fightId: {
      handler: function (newValue, oldValue) {
        this.$log.info('fightId - changed', newValue)
        this.refreshTableData()
        this.refreshEntityGroupData()
      },
      immediate: true
    }
  },
  methods: {
    onDialogueOk: function (arg) {
      this.dialogueModel = false
    },
    // success function
    successFunc (response) {
      this.$log.info('Response', response)
      if (response.data) {
        //
      }
      this.refreshEntityGroupData()
    },
    // failure function
    failureFunc (response) {
      this.$log.warn('Response', response)
      if (response.data) {
        var dialogueMessage = ''
        this.$log.warn('Update/Create record - Error ', response.data.errors)
        response.data.errors.forEach(error => {
          this.$log.warn('Update/Create record - Error ', error.detail)
          dialogueMessage = dialogueMessage + error.detail + '<br>'
        })
      }

      this.dialogueType = 'error'
      this.dialogueTitle = 'Error'
      this.dialogueMessage = dialogueMessage
      this.dialogueModel = true
    },
    addRecord (ev) {
      this.$log.info('Add record event ' + ev)
      this.$log.info('Add record entityGroupId ' + this.entityGroupId)
      this.$log.info('Add record entityId ' + this.fieldEntityId)

      var params = {
        app_id: this.appId,
        app_fight_id: this.fightId
      }

      this.$log.info('Add record params ', params)

      var result = this.$store.dispatch('appFightEntityGroup/createRecord', {
        params: params,
        data: {
          app_entity_group_id: this.fieldEntityGroupId
        },
        successFunc: this.successFunc,
        failureFunc: this.failureFunc
      })

      this.$log.info('Delete record result ' + result)
    },
    deleteRecord (entityGroupId) {
      this.$log.info('Delete record event ' + entityGroupId)

      var params = {
        app_id: this.appId,
        app_fight_id: this.fightId,
        id: entityGroupId
      }

      this.$log.info('Delete record params ', params)

      var result = this.$store.dispatch('appFightEntityGroup/deleteRecord', {
        params: params,
        successFunc: this.successFunc,
        failureFunc: this.failureFunc
      })

      this.$log.info('Delete record result ' + result)
    },
    refreshTableData () {
      //
      if (typeof this.appId === 'undefined') {
        this.$log.info('appId undefined, not getting records')
        return
      }

      if (typeof this.fightId === 'undefined') {
        this.$log.info('fightId undefined, not getting records')
        return
      }

      // success function
      var successFunc = response => {
        Vue.$log.info('Response', response)
        if (response.data) {
          //
        }
      }

      // failure function
      var failureFunc = response => {
        Vue.$log.warn('Response', response)
        if (response && response.data) {
          Vue.$log.warn('Errors', response.data.errors)
        }
      }
      var params = {
        app_id: this.appId,
        app_fight_id: this.fightId
      }

      this.$store.dispatch('appFightEntityGroup/getRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })
    },
    refreshEntityGroupData () {
      //
      if (typeof this.appId === 'undefined') {
        this.$log.info('appId undefined, not getting records')
        return
      }

      // success function
      var successFunc = response => {
        Vue.$log.info('Response', response)
        if (response.data) {
          //
        }
      }

      // failure function
      var failureFunc = response => {
        Vue.$log.warn('Response', response)
        if (response && response.data) {
          Vue.$log.warn('Errors', response.data.errors)
        }
      }

      var params = {
        app_id: this.appId
      }

      this.$store.dispatch('appEntityGroup/getRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })
    }
  },
  created () {
    this.$log.info('Fight entity groups table created')
  },
  mounted () {
    this.$log.info('Fight entity groups table mounted')
    this.refreshTableData()
  }
}
</script>

<style>
.apps-table-row {
  cursor: pointer
}
</style>
