<template>
  <div class="app-form">

    <!-- create -->
    <div class="row">
      <div class="q-pb-md">
        Create a new fight and then add entity groups.
      </div>
    </div>

    <!-- submit -->
    <div class="row justify-end">
      <div class="col-auto">
        <q-btn color="positive" class="app-form-button" @click="saveRecordChanges">
          <q-icon name="save"/>
        </q-btn>
        <q-btn color="light" class="app-form-button" @click="undoRecordChanges">
          <q-icon name="undo"/>
        </q-btn>
      </div>
    </div>

    <!-- message dialogue -->
    <q-dialog v-model="dialogueModel" stack-buttons @ok="onDialogueOk">
      <!-- This or use "title" prop on <q-dialog> -->
      <span slot="title">{{ dialogueTitle }}</span>
      <!-- This or use "message" prop on <q-dialog> -->
      <span slot="message" v-html="dialogueMessage"></span>

      <template slot="buttons" slot-scope="props">
        <template v-if="dialogueType === 'error'">
          <q-btn small color="primary" @click="props.ok">
            <q-icon name="tick"/>
          </q-btn>
        </template>
      </template>
    </q-dialog>

  </div>
</template>

<script>

export default {
  name: 'ComponentAppFightCreate',
  props: {
    appId: null,
    editRecord: {
      type: Object
    }
  },
  data () {
    return {
      // fields
      fieldId: null,
      fieldStatus: null,
      // dialogue
      dialogueModel: false,
      dialogueType: '',
      dialogueTitle: '',
      dialogueMessage: '',
      // form action
      formAction: null
    }
  },
  watch: {
    editAction: {
      handler: function (newValue, oldValue) {
        this.$log.info('editAction - Changed')
        this.formAction = newValue
      },
      immediate: true
    },
    editRecord: {
      handler: function (newValue, oldValue) {
        // assign record to field values
        this.$log.info('editRecord - Changed')

        if (newValue) {
          this.fieldId = newValue.id
          this.fieldStatus = newValue.status
        }
      },
      immediate: true
    }
  },
  methods: {
    onDialogueOk: function (arg) {
      this.dialogueModel = false
    },
    saveRecordChanges: function () {
      // save changes
      this.$log.info('Save record changes')

      // success function
      var successFunc = response => {
        this.$log.info('Update/Create record - response ', response)
        if (response.data) {
          this.dialogueType = 'success'
          this.dialogueTitle = 'Success'
          this.dialogueMessage = 'Record Saved'
          this.dialogueModel = true
          setTimeout(() => {
            this.dialogueModel = false
            this.$emit('editStateChange', 'created')
          }, 1000)
        }
      }

      // failure function
      var failureFunc = response => {
        this.$log.info('Update/Create record - Error ', response)
        if (response.data) {
          var dialogueMessage = ''
          this.$log.warn('Update/Create record - Error ', response.data.errors)
          response.data.errors.forEach(error => {
            this.$log.warn('Update/Create record - Error ', error.detail)
            dialogueMessage = dialogueMessage + error.detail + '<br>'
          })
        }

        this.dialogueType = 'error'
        this.dialogueTitle = 'Error'
        this.dialogueMessage = dialogueMessage
        this.dialogueModel = true
      }

      this.$log.info('Create record')
      this.$store.dispatch('appFight/createRecord', {
        params: { app_id: this.appId },
        data: {},
        successFunc: successFunc,
        failureFunc: failureFunc
      })

      this.$log.info('Save record changes - done')
    },
    undoRecordChanges: function () {
      // assign original record to field values
      this.$log.info('Undo record changes')

      this.fieldId = this.editRecord.id
      this.fieldStatus = this.editRecord.status
    }
  }
}
</script>

<style>
</style>
