<template>
  <div style="width: 100%;">
    <q-table
      title="Item Effects"
      :data="tableData"
      :columns="columns"
      row-key="id"
    >
      <!-- slot name syntax: body-cell-<column_name> -->
      <q-td slot="body-cell-action" slot-scope="props" :props="props">
        <q-btn color="negative" @click="deleteRecord(props.row.id)">
          <q-icon name="delete"/>
        </q-btn>
      </q-td>

      <q-tr slot="bottom-row" slot-scope="props" :props="props">
        <q-td colspan="1"/>
        <q-td colspan="1">
          <q-field label="Name" orientation="vertical">
            <q-select
              v-model="fieldEffectId"
              :options="fieldEffectIdOptions"
            />
          </q-field>
        </q-td>
        <q-td colspan="1">
          <q-btn color="positive" @click="addRecord">
            <q-icon name="add"/>
          </q-btn>
        </q-td>
      </q-tr>

    </q-table>
  </div>
</template>

<script>
import Vue from 'vue'
import { formatId } from '../util/formatting'

// success function
var successFunc = response => {
  Vue.$log.info('Response', response)
  if (response.data) {
    //
  }
}

// failure function
var failureFunc = response => {
  Vue.$log.warn('Response', response)
  if (response && response.data) {
    Vue.$log.warn('Errors', response.data.errors)
  }
}

export default {
  name: 'ComponentAppItemEffectsTable',
  components: {
  },
  props: {
    appId: String,
    itemId: String
  },
  data () {
    return {
      // fields
      fieldEffectId: null,
      columns: [
        {
          name: 'effect_id',
          required: true,
          label: 'ID',
          align: 'left',
          field: 'app_effect_id',
          sortable: true,
          format: val => formatId(val)
        },
        {
          name: 'effect_name',
          required: true,
          label: 'Name',
          align: 'left',
          field: 'app_effect_id',
          sortable: true,
          style: 'width: 60%',
          format: val => {
            var effectData = this.effectData
            if (!effectData.length) {
              this.$log.debug('Effect data not available')
              return val
            }
            this.$log.info('Formatting effectId', val)
            for (var idx = 0; idx < effectData.length; idx++) {
              if (effectData[idx].id === val) {
                return effectData[idx].name
              }
            }
            this.$log.warn('Could not find effectId >' + val + ' in effects', effectData)
            return val
          }
        },
        {
          name: 'action',
          label: ''
        }
      ],
      selectedRows: [],
      showEditModal: false,
      showNewModal: false,
      editRecord: {},
      editAction: null
    }
  },
  computed: {
    tableData () {
      return this.$store.getters['appItemEffect/getRecords']({
        app_id: this.appId,
        app_item_id: this.itemId
      })
    },
    effectData () {
      return this.$store.getters['appEffect/getRecords']({
        app_id: this.appId
      })
    },
    fieldEffectIdOptions () {
      var tableData = this.tableData
      var effectData = this.effectData
      var matched = false

      var values = []
      for (var idx = 0; idx < effectData.length; idx++) {
        matched = false
        for (var tidx = 0; tidx < tableData.length; tidx++) {
          if (tableData[tidx].app_effect_id === effectData[idx].id) {
            matched = true
            break
          }
        }
        if (matched) {
          continue
        }
        values.push({
          label: String(effectData[idx].name),
          value: effectData[idx].id
        })
      }
      return values
    }
  },
  watch: {
    appId: {
      handler: function (newValue, oldValue) {
        this.$log.info('appId - changed', newValue)
        this.refreshTableData()
        this.refreshEffectData()
      },
      immediate: true
    },
    itemId: {
      handler: function (newValue, oldValue) {
        this.$log.info('itemId - changed', newValue)
        this.refreshTableData()
        this.refreshEffectData()
      },
      immediate: true
    }
  },
  methods: {
    addRecord (ev) {
      this.$log.info('Add record event ' + ev)
      this.$log.info('Add record itemId ' + this.itemId)
      this.$log.info('Add record effectId ' + this.fieldEffectId)

      var params = {
        app_id: this.appId,
        app_item_id: this.itemId
      }

      this.$log.info('Add record params ', params)

      var result = this.$store.dispatch('appItemEffect/createRecord', {
        params: params,
        data: {
          app_effect_id: this.fieldEffectId
        },
        successFunc: successFunc,
        failureFunc: failureFunc
      })

      this.$log.info('Delete record result ' + result)
    },
    deleteRecord (itemEffectId) {
      this.$log.info('Delete record event ' + itemEffectId)

      var params = {
        app_id: this.appId,
        app_item_id: this.itemId,
        id: itemEffectId
      }

      this.$log.info('Delete record params ', params)

      var result = this.$store.dispatch('appItemEffect/deleteRecord', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })

      this.$log.info('Delete record result ' + result)
    },
    refreshTableData () {
      //
      if (typeof this.itemId === 'undefined') {
        this.$log.info('itemId undefined, not getting records')
        return
      }

      var params = {
        app_id: this.appId,
        app_item_id: this.itemId
      }

      this.$store.dispatch('appItemEffect/getRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })
    },
    refreshEffectData () {
      //
      if (typeof this.itemId === 'undefined') {
        this.$log.info('itemId undefined, not getting records')
        return
      }

      var params = {
        app_id: this.appId
      }

      this.$store.dispatch('appEffect/getRecords', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })
    }
  },
  created () {
    this.$log.info('Item effects table created')
  },
  mounted () {
    this.$log.info('Item effects table mounted')
    this.refreshTableData()
  }
}
</script>

<style>
.apps-table-row {
  cursor: pointer
}
</style>
