<template>
  <div class="app-form">

    <!-- fields -->
    <template v-if="formAction === 'update'">
      <q-field label="ID" orientation="vertical">
        <q-input v-model="fieldId" readonly />
      </q-field>
      <br />
    </template>

    <q-field label="Name" orientation="vertical">
      <q-input v-model="fieldName"/>
    </q-field>
    <br />

    <q-field label="Item Type" orientation="vertical">
      <q-select
        v-model="fieldItemType"
        :options="fieldItemTypeOptions"
      />
    </q-field>
    <br />

    <q-field label="Item Location" orientation="vertical">
      <q-select
        v-model="fieldItemLocation"
        :options="fieldItemLocationOptions"
      />
    </q-field>
    <br />

    <!-- submit -->
    <div class="row justify-end">
      <div class="col-auto">
        <q-btn color="positive" class="app-form-button" @click="saveRecordChanges">
          <q-icon name="save"/>
        </q-btn>
        <q-btn color="light" class="app-form-button" @click="undoRecordChanges">
          <q-icon name="undo"/>
        </q-btn>
      </div>
    </div>

    <br/>
    <div class="row">
      <app-item-effects-table v-if="fieldId" v-bind:appId="appId" v-bind:itemId="fieldId"/>
    </div>

    <!-- message dialogue -->
    <q-dialog v-model="dialogueModel" stack-buttons @ok="onDialogueOk">
      <!-- This or use "title" prop on <q-dialog> -->
      <span slot="title">{{ dialogueTitle }}</span>
      <!-- This or use "message" prop on <q-dialog> -->
      <span slot="message" v-html="dialogueMessage"></span>

      <template slot="buttons" slot-scope="props">
        <template v-if="dialogueType === 'error'">
          <q-btn color="primary" label="Ok" @click="props.ok" />
        </template>
      </template>
    </q-dialog>
  </div>
</template>

<script>

// components
import AppItemEffectsTable from 'components/AppItemEffectsTable.vue'

const formActionCreate = 'create'
const formActionUpdate = 'update'

export default {
  name: 'ComponentAppItemEdit',
  components: {
    'app-item-effects-table': AppItemEffectsTable
  },
  props: {
    appId: null,
    editAction: null,
    editRecord: {
      type: Object
    }
  },
  data () {
    return {
      // fields
      fieldId: null,
      fieldName: null,
      fieldItemType: null,
      fieldItemLocation: null,
      // options
      fieldItemTypeOptions: [
        {
          label: 'weapon',
          value: 'weapon'
        },
        {
          label: 'armour',
          value: 'armour'
        },
        {
          label: 'jewellery',
          value: 'jewellery'
        }
      ],
      fieldItemLocationOptions: [
        {
          label: 'head',
          value: 'head'
        },
        {
          label: 'ear',
          value: 'ear'
        },
        {
          label: 'neck',
          value: 'neck'
        },
        {
          label: 'torso',
          value: 'torso'
        },
        {
          label: 'hand',
          value: 'hand'
        },
        {
          label: 'foot',
          value: 'foot'
        },
        {
          label: 'leg',
          value: 'leg'
        },
        {
          label: 'finger',
          value: 'finger'
        }
      ],
      // dialogue
      dialogueModel: false,
      dialogueType: '',
      dialogueTitle: '',
      dialogueMessage: '',
      // form action
      formAction: null
    }
  },
  watch: {
    editAction: {
      handler: function (newValue, oldValue) {
        this.$log.info('editAction - Changed')
        this.formAction = newValue
      },
      immediate: true
    },
    editRecord: {
      handler: function (newValue, oldValue) {
        // assign record to field values
        this.$log.info('editRecord - Changed')

        if (newValue) {
          this.fieldId = newValue.id
          this.fieldName = newValue.name
          this.fieldItemType = newValue.item_type
          this.fieldItemLocation = newValue.item_location
        }
      },
      immediate: true
    }
  },
  computed: {
    fieldValueOptions: () => {
      var values = []
      for (var val = 1; val < 100; val++) {
        values.push({
          label: String(val),
          value: val
        })
      }
      return values
    }
  },
  methods: {
    onDialogueOk: function (arg) {
      this.dialogueModel = false
    },
    saveRecordChanges: function () {
      // save changes
      this.$log.info('Save record changes')

      // success function
      var successFunc = response => {
        this.$log.info('Update/Create record - response ', response)
        if (response.data) {
          // update fields
          this.fieldId = response.data.data.id
          // change to form action update
          this.formAction = formActionUpdate

          this.dialogueType = 'success'
          this.dialogueTitle = 'Success'
          this.dialogueMessage = 'Record Saved'
          this.dialogueModel = true
          setTimeout(() => {
            this.dialogueModel = false
          }, 1000)
        }
      }

      // failure function
      var failureFunc = response => {
        this.$log.info('Update/Create record - Error ', response)
        if (response.data) {
          var dialogueMessage = ''
          this.$log.warn('Update/Create record - Error ', response.data.errors)
          response.data.errors.forEach(error => {
            this.$log.warn('Update/Create record - Error ', error.detail)
            dialogueMessage = dialogueMessage + error.detail + '<br>'
          })
        }

        this.dialogueType = 'error'
        this.dialogueTitle = 'Error'
        this.dialogueMessage = dialogueMessage
        this.dialogueModel = true
      }

      // form action update / form action create
      if (this.formAction === formActionUpdate) {
        this.$log.info('Update record')
        this.$store.dispatch('appItem/updateRecord', {
          params: { id: this.fieldId, app_id: this.appId },
          data: {
            id: this.fieldId,
            app_id: this.editRecord.app_id,
            name: this.fieldName,
            item_type: this.fieldItemType,
            item_location: this.fieldItemLocation
          },
          successFunc: successFunc,
          failureFunc: failureFunc
        })

        this.$log.info('Update record - done')
      } else if (this.formAction === formActionCreate) {
        this.$log.info('Create record')
        this.$store.dispatch('appItem/createRecord', {
          params: { app_id: this.appId },
          data: {
            name: this.fieldName,
            item_type: this.fieldItemType,
            item_location: this.fieldItemLocation
          },
          successFunc: successFunc,
          failureFunc: failureFunc
        })
      } else {
        this.$log.error('Unsupported form action ', this.formAction)
      }

      this.$log.info('Save record changes - done')
    },
    undoRecordChanges: function () {
      // assign original record to field values
      this.$log.info('Undo record changes')

      this.fieldId = this.editRecord.id
      this.fieldName = this.editRecord.name
      this.fieldItemType = this.editRecord.item_type
      this.fieldItemLocation = this.editRecord.item_location
    }
  }
}
</script>

<style>
</style>
