<template>

  <div class="app-container shadow-1 q-mb-md q-pl-md q-pr-md q-pb-md">

    <template v-if="appRecord">

      <!-- title / refresh -->
      <div class="row">
        <div class="col-6">
          <div class="q-title q-pa-md">Manage Application</div>
        </div>
        <div class="col-6">
          <q-btn :color="refreshEnabled===true?'negative':'positive'" class="q-ma-sm float-right" @click="refreshOnOff">
              <q-icon v-if="refreshEnabled===true" name="stop"/>
              <q-icon v-if="refreshEnabled!==true" name="refresh"/>
          </q-btn>
        </div>
      </div>

      <div class="q-pr-md q-pl-md">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <q-field label="ID:" label-width="2" orientation="vertical" class="q-mr-sm">
              {{appRecord.id.substring(0, 8)}}
            </q-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <q-field label="Name:" label-width="2" orientation="vertical" class="q-mr-sm">
              {{appRecord.name}}
            </q-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <q-field label="Status:" label-width="2" orientation="vertical" class="q-mr-sm">
              {{appRecord.status.charAt(0).toUpperCase() + appRecord.status.slice(1)}}
            </q-field>
          </div>
        </div>

        <div class="row justify-end">
          <div class="col-auto q-mt-sm">
            <q-btn color="positive" class="app-form-button" :disabled="appRecord.status!='stopped'" @click="startApp">
              <q-icon name="play_arrow"/>
            </q-btn>
            <q-btn color="negative" class="app-form-button" :disabled="appRecord.status!='running'" @click="stopApp">
              <q-icon name="stop"/>
            </q-btn>
          </div>
        </div>

      </div>
    </template>

        <!-- message dialogue -->
    <q-dialog v-model="dialogueModel" stack-buttons @ok="onDialogueOk">
      <!-- This or use "title" prop on <q-dialog> -->
      <span slot="title">{{ dialogueTitle }}</span>
      <!-- This or use "message" prop on <q-dialog> -->
      <span slot="message" v-html="dialogueMessage"></span>

      <template slot="buttons" slot-scope="props">
        <template v-if="dialogueType === 'error'">
          <q-btn small color="primary" @click="props.ok">
            <q-icon name="tick"/>
          </q-btn>
        </template>
      </template>
    </q-dialog>

  </div>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'ComponentAppManage',
  props: {
    appId: String
  },
  data () {
    return {
      // dialogue
      dialogueModel: false,
      dialogueType: '',
      dialogueTitle: '',
      dialogueMessage: '',
      // refresh
      refreshEnabled: false,
      refreshInterval: null
    }
  },
  computed: {
    appRecord () {
      return this.$store.getters['app/getRecord']({}, this.appId)
    }
  },
  methods: {
    refreshOnOff: function () {
      if (this.refreshEnabled === true) {
        this.refreshEnabled = false
        this.stopRefresh()
        return
      }
      this.refreshEnabled = true
      this.startRefresh()
    },
    onDialogueOk: function (arg) {
      this.dialogueModel = false
    },
    startApp: function () {
      //
      this.$log.warn('Starting application')

      var params = {
        id: this.appId
      }

      this.$store.dispatch('app/updateRecord', {
        params: params,
        data: {
          id: this.appId,
          name: this.appRecord.name,
          status: 'starting',
          description: this.appRecord.description,
          initiative_formula: this.appRecord.initiative_formula,
          death_formula: this.appRecord.death_formula
        },
        successFunc: this.successFunc,
        failureFunc: this.failureFunc
      })
    },
    stopApp: function () {
      //
      this.$log.warn('Stopping application')

      var params = {
        id: this.appId
      }

      this.$store.dispatch('app/updateRecord', {
        params: params,
        data: {
          id: this.appId,
          name: this.appRecord.name,
          status: 'stopping',
          description: this.appRecord.description,
          initiative_formula: this.appRecord.initiative_formula,
          death_formula: this.appRecord.death_formula
        },
        successFunc: this.successFunc,
        failureFunc: this.failureFunc
      })
    },
    // success function
    successFunc: function (response) {
      Vue.$log.info('Response', response)
      if (response.data) {
        //
      }
    },
    // failure function
    failureFunc: function (response) {
      Vue.$log.warn('Response', response)
      if (response && response.data) {
        Vue.$log.warn('Errors', response.data.errors)
      }
    },
    startRefresh: function () {
      this.$log.warn('Starting app refresh')
      if (typeof this.appId === 'undefined') {
        this.$log.info('appId undefined, not getting record')
        return
      }

      var params = { id: this.appId }

      if (this.refreshEnabled) {
        this.$log.warn('App refresh enabled')
        this.refreshInterval = setInterval(() => {
          this.$store.dispatch('app/getRecord', {
            params: params,
            successFunc: this.successFunc,
            failureFunc: this.failureFunc
          })
        }, 5000)
      } else {
        this.$log.warn('App refresh disabled')
        this.$store.dispatch('app/getRecord', {
          params: params,
          successFunc: this.successFunc,
          failureFunc: this.failureFunc
        })
      }
    },
    stopRefresh: function () {
      this.$log.warn('Stopping app refresh')
      clearInterval(this.refreshInterval)
    }
  },
  mounted () {
    // start refresh
    this.$log.info('App header mounted')
    this.startRefresh()
  },
  destroyed () {
    // stop refresh
    this.$log.warn('Destroyed, stopping app fetch interval')
    this.stopRefresh()
  }
}
</script>

<style>
</style>
