<template>
  <div>
    <q-list
      no-border
      link
      inset-delimiter
    >
      <!-- top level -->
      <q-item :to="{ name: 'admin-dashboard' }" exact>
        <q-item-main label="Dashboard"/>
      </q-item>
      <!-- <q-item :to="{ name: 'admin-apps' }" exact>
        <q-item-main label="Applications"/>
      </q-item> -->

      <!-- app admin -->
      <q-item-separator/>
      <q-collapsible label="Manage Application" opened>
        <q-item :to="{ name: 'admin-app-search' }" exact>
          <q-item-main label="Search"/>
        </q-item>
        <q-item :disabled="appId===null" :to="appURL" label="App" exact>
          <q-item-main label="Application"/>
        </q-item>
        <q-item :disabled="appId===null" :to="appAttributesURL" label="Attributes" exact>
          <q-item-main label="Attributes"/>
        </q-item>
        <q-item :disabled="appId===null" :to="appEffectsURL" label="Effects" exact>
          <q-item-main label="Effects"/>
        </q-item>
        <q-item :disabled="appId===null" :to="appItemsURL" label="Items" exact>
          <q-item-main label="Items"/>
        </q-item>
        <q-item :disabled="appId===null" :to="appSkillsURL" label="Skills" exact>
          <q-item-main label="Skills"/>
        </q-item>
        <q-item :disabled="appId===null" :to="appEntitiesURL" label="Entities" exact>
          <q-item-main label="Entities"/>
        </q-item>
        <q-item :disabled="appId===null" :to="appEntityGroupsURL" label="Entity Groups" exact>
          <q-item-main label="Entity Groups"/>
        </q-item>
        <!-- <q-item :disabled="appId===null" :to="appFightsURL" label="Fights" exact>
          <q-item-main label="Fights"/>
        </q-item> -->
      </q-collapsible>

      <!-- fight admin -->
      <q-item-separator/>
      <q-collapsible label="Manage Fight" opened>
        <q-item :disabled="appId===null" :to="fightSearchURL" exact>
          <q-item-main label="Search"/>
        </q-item>
        <q-item :disabled="appId===null||fightId===null" :to="fightURL" exact>
          <q-item-main label="Fight"/>
        </q-item>
        <q-item :disabled="appId===null||fightId===null" :to="fightEntityGroupsURL" exact>
          <q-item-main label="Entity Groups"/>
        </q-item>
        <q-item :disabled="appId===null||fightId===null" :to="fightInstancesURL" exact>
          <q-item-main label="Instances"/>
        </q-item>
      </q-collapsible>
    </q-list>
  </div>

</template>

<script>
export default {
  name: 'ComponentAppMenu',
  data () {
    return {}
  },
  computed: {
    appId () {
      return this.$store.getters['context/getAppId']
    },
    fightId () {
      return this.$store.getters['context/getFightId']
    },
    // app admin
    appSearchURL () {
      return '/apps/' + this.appId
    },
    appURL () {
      return '/apps/' + this.appId
    },
    appAttributesURL () {
      return '/apps/' + this.appId + '/attributes'
    },
    appEffectsURL () {
      return '/apps/' + this.appId + '/effects'
    },
    appItemsURL   () {
      return '/apps/' + this.appId + '/items'
    },
    appSkillsURL () {
      return '/apps/' + this.appId + '/skills'
    },
    appEntitiesURL () {
      return '/apps/' + this.appId + '/entities'
    },
    appEntityGroupsURL () {
      return '/apps/' + this.appId + '/entitygroups'
    },
    // fight admin
    fightSearchURL () {
      return '/apps/' + this.appId + '/fights'
    },
    fightURL () {
      return '/apps/' + this.appId + '/fights/' + this.fightId
    },
    fightInstancesURL () {
      return '/apps/' + this.appId + '/fights/' + this.fightId + '/instances'
    },
    fightEntityGroupsURL () {
      return '/apps/' + this.appId + '/fights/' + this.fightId + '/entity-groups'
    }
  }
}
</script>

<style>
</style>
