<template>
  <div>
    <q-table
      :data="tableData"
      :columns="tableColumns"
      :visible-columns="visibleColumns"
      row-key="id"
    >

      <!-- title / columns / new -->
      <div slot="top" slot-scope="props" :props="props" class="full-width">
        <div class="row">
          <div class="col-9">
            <div class="q-title">Manage Apps</div>
          </div>
          <div class="col-2">
            <q-table-columns
              color="secondary"
              class="round-borders shadow-1 app-table-columns"
              v-model="visibleColumns"
              :columns="tableColumns"
            />
          </div>
          <div class="col-1">
            <q-btn small color="positive" @click="newModalOpen()" class="float-right">
              <q-icon name="add"/>
            </q-btn>
          </div>
        </div>
      </div>

      <!-- edit / delete -->
      <q-td slot="body-cell-action" slot-scope="props" :props="props">
        <q-btn
          small
          color="positive"
          class="app-form-button"
          @click="manageRecord(props.row.id)"
        >
          <q-icon name="settings"/>
        </q-btn>
        <q-btn
          small
          color="negative"
          @click="deleteRecord(props.row.id)"
        >
          <q-icon name="delete"/>
        </q-btn>
      </q-td>

    </q-table>

    <!-- edit modal -->
    <q-modal v-model="showEditModal" minimized content-css="width: 80%;">
      <q-modal-layout>
        <q-toolbar slot="header">
          <q-toolbar-title>Create App</q-toolbar-title>
          <q-btn color="secondary" @click="newModalClose">
            <q-icon name="close"/>
          </q-btn>
        </q-toolbar>

        <!-- app edit form -->
        <app-create
          v-bind:editRecord="editRecord"
          @editStateChange="newModalClose"
        />
      </q-modal-layout>
    </q-modal>
  </div>
</template>

<script>
import Vue from 'vue'
import { formatId } from '../util/formatting'

// components
import AppCreate from 'components/AppCreate.vue'

// success function
var successFunc = response => {
  Vue.$log.info('(component) Response', response)
  if (response.data) {
    //
  }
}

// failure function
var failureFunc = response => {
  Vue.$log.warn('(component) Response', response)
  if (response && response.data) {
    Vue.$log.warn('Get records - Errors', response.data.errors)
  }
}

export default {
  name: 'ComponentAppsTable',
  components: {
    'app-create': AppCreate
  },
  data () {
    return {
      visibleColumns: [
        'name',
        'status'
      ],
      tableColumns: [
        {
          name: 'id',
          required: true,
          label: 'ID',
          align: 'left',
          field: 'id',
          sortable: true,
          style: 'width: 10%;',
          format: val => formatId(val)
        },
        {
          name: 'name',
          label: 'Name',
          align: 'left',
          field: 'name',
          sortable: true,
          style: 'width: 25%;',
          format: (val) => {
            if (val.length > 20) {
              return val.substr(0, 20) + '...'
            }
            return val
          }
        },
        {
          name: 'description',
          label: 'Description',
          align: 'left',
          field: 'description',
          sortable: true,
          format: (val) => {
            if (val.length > 20) {
              return val.substr(0, 20) + '...'
            }
            return val
          }
        },
        {
          name: 'initiativeFormula',
          label: 'Initiative Formula',
          align: 'left',
          field: 'initiative_formula',
          classes: 'app-formula-text',
          sortable: true
        },
        {
          name: 'deathFormula',
          label: 'Death Formula',
          align: 'left',
          field: 'death_formula',
          classes: 'app-formula-text',
          sortable: true
        },
        {
          name: 'status',
          label: 'Status',
          align: 'left',
          field: 'status',
          sortable: true
        },
        {
          name: 'action',
          required: true,
          label: '',
          align: 'right',
          sortable: false
        }
      ],
      showEditModal: false,
      showNewModal: false,
      editRecord: {},
      editState: null
    }
  },
  computed: {
    tableData () {
      return this.$store.getters['app/getRecords']()
    }
  },
  watch: {
    editState: {
      handler: function (newValue, oldValue) {
        if (newValue === 'created') {
          this.newModalClose()
        }
      },
      immediate: true
    }
  },
  methods: {
    deleteRecord (id) {
      this.$log.info('Delete record ID', id)

      var params = {}

      params['id'] = id

      this.$log.info('Delete record params ', params)

      var result = this.$store.dispatch('app/deleteRecord', {
        params: params,
        successFunc: successFunc,
        failureFunc: failureFunc
      })

      this.$log.info('Delete record result', result)
    },
    newModalOpen (ev) {
      this.$log.info('New modal open')
      this.editRecord = {}
      this.editState = 'create'
      this.showEditModal = true
    },
    newModalClose (ev) {
      this.$log.info('Edit modal close')
      this.editRecord = null
      this.editState = 'create'
      this.showEditModal = false
    },
    manageRecord (id) {
      this.$log.info('Manage app ID', id)
      // update app context
      this.$store.commit('context/updateAppId', id)
      // navigate
      this.$router.push('/apps/' + id)
      return true
    }
  },
  created () {
    this.$log.info('')
  },
  mounted () {
    this.$log.info('Dispatching get records')

    // clear store first
    this.$store.dispatch('app/clearRecords', {
      params: {},
      successFunc: successFunc,
      failureFunc: failureFunc
    })

    this.$store.dispatch('app/getRecords', {
      params: {},
      successFunc: successFunc,
      failureFunc: failureFunc
    })
  }
}
</script>

<style>
.apps-table-row {
  cursor: pointer;
}
</style>
